@model ftd.query.model.EoEmployeeQryModel

@{
    Layout = "~/Views/Shared/_LayoutCodeQuery.cshtml";
    ViewBag.Title = @Html.functionName("程式代號", true);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
    <input type="hidden" id="EOE_EmployeeId" name="EOE_EmployeeId" value="" />
    <input type="hidden" id="Q_DepartmentCode_XX" name="Q_DepartmentCode_XX" value="" data-cqgroup="CQ_Dept" data-cqfield="EOD_DepartmentCode" />
    <input type="hidden" id="Q_EmployeeTitleCode_XX" name="Q_EmployeeTitleCode_XX" value="" data-cqgroup="CQ_EmployeeTitle" data-cqfield="EOET_TitleCode" />

    <div class="condition-panel">
        <table>
            <tr>
                <td class="field-title">帳號</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.Q_LoginAccount_XX)
                    @Html.dropDownListFor(m => m.Q_Enabled, ftd.data.AppCodeTypeName.CTN_APP_TF, true, new { title = "啟用" })
                </td>
                <td class="field-title">姓名</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.Q_EmployeeName)
                </td>
            </tr>
            <tr>
                <td class="field-title">部門</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.Q_DepartmentFullName_XX, new { Readonly="readonly", data_cqgroup="CQ_Department", data_cqfield="EOD_DepartmentName" })
                    @Html.codeQuery("CQ_Department", "CodeQuery", "EoDepartment", 800, 600, new { title = "部門" })
                </td>
                <td class="field-title">職稱</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.Q_EmployeeTitleName_XX, new { Readonly="readonly", data_cqgroup="CQ_EmployeeTitle", data_cqfield="EOET_TitleName"})
                    @Html.codeQuery("CQ_EmployeeTitle", "CodeQuery", "EoEmployeeTitle", 800, 600, new { title = "職稱" })
                </td>
            </tr> 
        </table>
        <div id="toolbar" class="toolbar">
            <input type="button" id="cmdQuery" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" value="查詢" onclick="doAction('query');" />
        </div>
    </div>
}

<div id="ListGridContainer"></div>


@section scripts {
    <script>

        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    break;
                case "report":
                    break;
                default:
            }
        }

        //查詢
        function doQuery() {
            try {
                var jsonData = {};
                jsonData = ToJsonObject();
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();

                $('#ListGridContainer').jtable('load', jsonData);
            }
            catch (e) {
                alert(e);
            }
        }

        var _selRow = "";
        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'EOE_EmployeeId ASC',
                actions: {
                    listAction: '@Url.Action("List", "EoEmployee")',
                },
                fields: {
                    EOE_EmployeeId: {
                        title: '人員ID',
                        width: '0.1%',
                        key: true,
                        list: false,
                        create: false,
                        edit: false
                    },
                    EOE_OrganId: {
                        title: '機關代號',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOE_OrganSName_XX: {
                        title: '機關名稱',
                        width: '18%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOE_DepartmentId: {
                        title: '部門ID',
                        width: '10%',
                        key: false,
                        list: false,
                        create: true,
                        edit: true
                    },
                    EOE_DepartmentCode_XX: {
                        title: '部門代號',
                        width: '10%',
                        key: false,
                        list: false,
                        create: true,
                        edit: true
                    },
                    EOE_DepartmentName_XX: {
                        title: '部門名稱',
                        width: '10%',
                        key: false,
                        list: false,
                        create: true,
                        edit: true
                    },
                    EOE_DepartmentFullName_XX: {
                        title: '部門完整名稱',
                        width: '10%',
                        key: false,
                        list: false,
                        create: true,
                        edit: true
                    },
                    EOE_EmployeeCode: {
                        title: '帳號',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOE_EmployeeName: {
                        title: '人員姓名',
                        width: '10%',
                        key: false,
                        list: false,
                        create: true,
                        edit: true
                    },
                    EOE_EmployeeStandardName_XX: {
                        title: '人員姓名',
                        width: '15%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOE_EmployeeFullName_XX: {
                        title: '完整姓名',
                        width: '10%',
                        key: false,
                        list: false,
                        create: true,
                        edit: true
                    }
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            //取得選擇的資料列
                            var record = $(this).data('record');
                            _selRow = record;
                            //自定回傳物件
                            var returnObj = {
                                RequestKey: '@ViewBag.RequestKey',
                                Row: record
                            };
                            //將物件轉字串
                            var jsonStr = JSON.stringify(returnObj);
                            //取得父視窗
                            var parent = window.parent;
                            //取得父視窗回傳值欄位
                            var ctl = parent.$('#CQ_Result');
                            if (ctl != undefined) {
                                //設定回傳值
                                ctl.val(jsonStr);
                                //已選擇-->觸發父視窗更新畫面
                                ctl.change();
                            }
                            //關閉CodeQuery視窗
                            CloseDialog();
                        });
                    };
                }
            });
        }

        $(document).ready(function () {
            //初始化 Grid
            initGrid();

            //載入資料
            doQuery();
        });
    </script>
}

