@model ftd.query.model.AlAssmblingQryModel

@{
    ViewBag.Title = @Html.functionName("程式代號", true);
}

@section function_name {
    @Html.functionName("程式代號")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />

    <div class="condition-container">
        <div id="qryTitle">
            <div id="QueryMode" class="query-mode" onclick="toggleQueryPanel()">查詢條件</div>
            <div id="QueryLevel" class="query-level">
            </div>
            <div id="hint" style="display:inline-block; float:right; color:red; height:24px; overflow:hidden;">
            </div>
        </div>
        <div class="clr"></div>
        <div id="qryCondition">
            <table>
            </table>
            @Html.toolBar("程式代號")
        </div>
    </div>
    <div class="clr"></div>
}

<div id="ListGridContainer"></div>


@section scripts {
    <script>

        //收合或展開查詢條件
        function toggleQueryPanel() {
            $("#qryCondition").toggle('show');
        }

        //註冊事件
        function registerViewEvents() {
        }

        //*************************************************************
        //表單功能鍵
        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    break;
                case "export":
                    doExport();
                    break;
                default:
            }
        }

        //查詢
        function doQuery() {
            try {
                $("#qryCondition").hide();
                var jsonData = {};
                jsonData = ToJsonObject();
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();
                $('#ListGridContainer').jtable('load', jsonData);
            }
            catch (e) {
                alert(e);
            }
        }

        //匯出 Excel
        function doExport() {
            //alert("Do Export Excel");
        }

        //資料表功能鍵
        function doTableAction_程式代號(cmd) {
            switch (cmd) {
                case "create":
                    ShowDialog(600, 900, true, "@Url.Action("Edit", "AlAssmbling")", "新增", false);
                    break;
                default:
                    return;
            }
        }

        //資料列功能鍵
        function getItemAction_程式代號(cmd, item) {
            switch (cmd) {
                case "update":
                    var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("Edit", "AlAssmbling")?id=' + item.record.ALA_AssmblingId + '"><span>修改</span></button>');
                    OpenDialog($btn, 600, 900, true);
                    return $btn;
                default:
                    return "";
            }
        }

        var selRow = null;
        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'ALA_AssmblingId ASC',
                toolbar: {
                    hoverAnimation: true,
                    hoverAnimationDuration: 60,
                    hoverAnimationEasing: undefined,
                    @Html.jTableToolbar("程式代號")
                },
                actions: {
                    listAction: '@Url.Action("List", "AlAssmbling")'
                    @Html.jTableDeleteAction("程式代號", "Delete", "AlAssmbling")
                },
                fields: {
                    @Html.jTableItemActions("程式代號")
                    ALA_AssmblingId: {
                        title: '後工程組立ID',
                        width: '0.1%',
                        key: true,
                        list: false
                    },
                    ALA_MCID: {
                        title: '機臺編碼',
                        width: '10%',
                        list: true
                    },
                    ALA_SEQRow: {
                        title: '列位置',
                        width: '10%',
                        list: true
                    },
                    ALA_SEQCol: {
                        title: '行位置',
                        width: '10%',
                        list: true
                    },
                    ALA_MCCode: {
                        title: '工程代碼',
                        width: '10%',
                        list: true
                    },
                    ALA_MCName: {
                        title: '工程描述',
                        width: '10%',
                        list: true
                    },
                    ALA_CreatorId: {
                        title: '建立者ID',
                        width: '10%',
                        list: false
                    },
                    ALA_CreatorName_XX: {
                        title: '建立者姓名',
                        width: '10%',
                        list: false
                    },
                    ALA_CreateDate: {
                        title: '建立日期',
                        width: '10%',
                        list: false
                    },
                    ALA_UpdaterId: {
                        title: '異動者ID',
                        width: '10%',
                        list: false
                    },
                    ALA_UpdaterName_XX: {
                        title: '異動者姓名',
                        width: '10%',
                        list: false
                    },
                    ALA_UpdateDate: {
                        title: '異動日期',
                        width: '10%',
                        list: false
                    }
                },
                formSubmitting: function (event, data) {
                    //data.form("__RequestVerificationToken", $("input[name=\"__RequestVerificationToken\"]").val());
                    //return true;
                    return data.form.validationEngine('validate');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            //var record = $(this).data('record');
                            //selRow = record;
                            //$("#ALA_AssmblingId").val(record.ALA_AssmblingId);
                        });
                    } else {
                        //selRow = null;
                        //$("#ALA_AssmblingId").val('');
                    };
                }
            });
        }

        $(document).ready(function () {
            //註冊事件
            registerViewEvents();

            //將查詢條件區塊隱藏
            $("#qryCondition").hide();

            //初始化 Grid
            initGrid();

            //Edit後回到列表的動作
            DialogCloseListener.whatButtonFireEvent = function (obj) {
                if (obj != "save")
                    return;

                switch (currentpageIndex) {
                    case 0:
                        FireEvent = false;
                        doQuery();
                        FireEvent = true;
                        break;
                    default:
                        break;
                }
            };

            if ('@Model.ClientMessage'.length > 0) {
                ShowMessage('@Model.ClientMessage');
            }
        });
    </script>
}

