@model ftd.query.model.ZzOrderQryModel

@{
    ViewBag.Title = @Html.functionName("ZZE010", true);
}

@section function_name {
    @Html.functionName("ZZE010")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />

    <div class="condition-container">
        <div id="qryTitle">
            <div id="QueryMode" class="query-mode" onclick="toggleQueryPanel()">查詢條件</div>
            <div id="QueryLevel" class="query-level">
            </div>
            <div id="hint" style="display:inline-block; float:right; color:red; height:24px; overflow:hidden;">
            </div>
        </div>
        <div class="clr"></div>
        <div id="qryCondition">
            <table>
                <tr>
                    <td class="field-title">訂單號碼</td>
                    <td class="field-content">
                        @Html.TextBoxFor(m => m.Q_OrderNo, new { title = "!訂單號碼" })
                    </td>
                    <td class="field-title">訂單日期</td>
                    <td class="field-content">
                        @Html.TextBoxFor(m => m.Q_DateFrom, new { title = "!訂單日期-起" })
                        ～
                        @Html.TextBoxFor(m => m.Q_DateTo, new { title = "!訂單日期-迄" })
                        <sel
                    </td>
                </tr>
                <tr>
                    <td class="field-title">訂單說明</td>
                    <td class="field-content">
                        @Html.TextBoxFor(m => m.Q_Desc, new { title = "!訂單說明" })
                    </td>
                    <td class="field-title">啟用</td>
                    <td class="field-content">
                        @Html.TextBoxFor(m => m.Q_IsEnable, new { title = "!啟用" })
                    </td>
                </tr>
                <tr>
                    <td class="field-title">啟用</td>
                    <td class="field-content">
                        @Html.dropDownListFor(m => m.Q_IsEnableName_XX, ftd.data.AppCodeTypeName.CTN_APP_YN, true, new { title = "!啟用" })
                    </td>
                    <td class="field-title">訂單總金額</td>
                    <td class="field-content">
                        @Html.TextBoxFor(m => m.Q_OrderAmount_XXFrom, new { title = "!訂單總金額-起" })
                        ～
                        @Html.TextBoxFor(m => m.Q_OrderAmount_XXTo, new { title = "!訂單總金額-迄" })
                    </td>
                </tr>
            </table>
            @Html.toolBar("ZZE010")
        </div>
    </div>
    <div class="clr"></div>
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">訂單</a></li>
        <li><a href="#tabs-2">訂單明細</a></li>
    </ul>
    <div id="tabs-1">
        <div id="ListGridContainer"></div>
    </div>
    <div id="tabs-2">
        <div id="ListGridContainer_OrderDetail"></div>
    </div>
</div>



@section scripts {
    <script type="text/javascript" src="~/Scripts/Jtabcontrol.js"></script>

    <script>
        //收合或展開查詢條件
        function toggleQueryPanel() {
            $("#qryCondition").toggle('show');
        }

        //註冊事件
        function registerViewEvents() {
            //Edit後回到列表的動作
            DialogCloseListener.whatButtonFireEvent = function (obj) {
                if (obj != "save")
                    return;

                switch (currentpageIndex) {
                    case 0:
                        FireEvent = false;
                        doQuery();
                        FireEvent = true;
                        break;
                    case 1:
                        FireEvent = false;
                        doQuery_OrderDetail();
                        FireEvent = true;
                        break;
                    default:
                        break;
                }
            };

            //初始化頁籤
            tabs = $("#tabs").tabs();
            //預設起始頁面--default 0
            switchpage(tabs, 0);
            //設定頁面切換權限 ex '1;0,2;0' ==> tab[0] 可以開tab[1] ;tab[1] 可以開tab[0]和 tab[2];tab[2] 可以開tab[0]
            var Seq = '1;0';
            changeSeq(Seq);
            showMsg = "不允許切換到該頁籤!";//"尚有其它步驟尚未完成，請先完成其它步驟內容!";
            var TabListener = initTabs(tabs);

            try {
                TabListener.whatButtonFireEvent = function (ui) {
                    switch (getSelectIndex(ui)) {
                        case 0:
                            //doQuery();
                            break;
                        case 1:
                            if (!selRowOrder) {
                                ShowMessage("請先選擇一筆資料");
                                return false;
                            }
                            doQuery_OrderDetail()
                            break;
                        default:
                            break;
                    }
                    return true;
                };
            }
            catch (ex) {
                alert(ex);
            }
        }

        //*************************************************************
        //表單功能鍵
        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    break;
                case "export":
                    doExport();
                    break;
                default:
            }
        }

        //查詢
        function doQuery() {
            $("#qryCondition").hide();
            try {
                var jsonData = {};
                jsonData = ToJsonObject();
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();

                $('#ListGridContainer').jtable('load', jsonData);
            }
            catch (e) {
                alert(e);
            }
        }

        //匯出 Excel
        function doExport() {
            //alert("Do Export Excel");
        }

        //資料表功能鍵
        function doTableAction_ZZE010(cmd) {
            switch (cmd) {
                case "create":
                    ShowDialog(600, 900, true, "@Url.Action("ZZE010Edit", "ZzOrder")", "新增", false);
                    break;
                default:
                    return;
            }
        }

        //資料列功能鍵
        function getItemAction_ZZE010(cmd, item) {
            switch (cmd) {
                case "update":
                    var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("ZZE010Edit", "ZzOrder")?id=' + item.record.ZZO_OrderId + '"><span>修改</span></button>');
                    OpenDialog($btn, 600, 900, true);
                    return $btn;
                default:
                    return "";
            }
        }

        //查詢
        function doQuery_OrderDetail() {
            if (!selRowOrder) {
                ShowMessage("請選擇訂單");
                return;
            }
            try {
                var jsonData = {};
                //jsonData = ToJsonObject();
                jsonData["Q_OrderId"] = selRowOrder.ZZO_OrderId;
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();

                $('#ListGridContainer_OrderDetail').jtable('load', jsonData);
            }
            catch (e) {
                alert(e);
            }
        }

        //資料表功能鍵
        function doTableAction_ZZE011(cmd) {
            switch (cmd) {
                case "create":
                    ShowDialog(600, 900, true, "@Url.Action("Edit", "ZzOrderDetail")", "新增", false);
                    break;
                default:
                    return;
            }
        }

        //資料列功能鍵
        function getItemAction_ZZE011(cmd, item) {
            switch (cmd) {
                case "update":
                    var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("Edit", "ZzOrderDetail")?id=' + item.record.ZZOD_OrderDetailId + '"><span>修改</span></button>');
                    OpenDialog($btn, 600, 900, true);
                    return $btn;
                default:
                    return "";
            }
        }


        var selRowOrder = null;
        var selRowOrderDetail = null;

        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'ZZO_OrderNo ASC',
                toolbar: {
                    hoverAnimation: true,
                    hoverAnimationDuration: 60,
                    hoverAnimationEasing: undefined,
                    @Html.jTableToolbar("ZZE010")
                },
                actions: {
                    listAction: '@Url.Action("List", "ZzOrder")'
                    @Html.jTableDeleteAction("ZZE010", "Delete", "ZzOrder")
                },
                fields: {
                    @Html.jTableItemActions("ZZE010")
                    ZZO_OrderId: {
                        title: '訂單ID',
                        width: '0.1%',
                        key: true,
                        list: false
                    },
                    ZZO_OrderNo: {
                        title: '訂單號碼',
                        width: '10%',
                        list: true
                    },
                    ZZO_Date: {
                        title: '訂單日期',
                        width: '10%',
                        list: true
                    },
                    ZZO_Desc: {
                        title: '訂單說明',
                        width: '10%',
                        list: true
                    },
                    ZZO_IsEnable: {
                        title: '啟用',
                        width: '10%',
                        list: true
                    },
                    ZZO_IsEnableName_XX: {
                        title: '啟用',
                        width: '10%',
                        list: true
                    },
                    ZZO_OrderAmount_XX: {
                        title: '訂單總金額',
                        width: '10%',
                        list: true
                    },
                    ZZO_CreatorId: {
                        title: '建立者ID',
                        width: '10%',
                        list: true
                    },
                    ZZO_CreatorName_XX: {
                        title: '建立者姓名',
                        width: '10%',
                        list: false
                    },
                    ZZO_CreateDate: {
                        title: '建立日期',
                        width: '10%',
                        list: false
                    },
                    ZZO_UpdaterId: {
                        title: '異動者ID',
                        width: '10%',
                        list: false
                    },
                    ZZO_UpdaterName_XX: {
                        title: '異動者姓名',
                        width: '10%',
                        list: false
                    },
                    ZZO_UpdateDate: {
                        title: '異動日期',
                        width: '10%',
                        list: false
                    }
                },
                formSubmitting: function (event, data) {
                    //data.form("__RequestVerificationToken", $("input[name=\"__RequestVerificationToken\"]").val());
                    //return true;
                    return data.form.validationEngine('validate');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            var record = $(this).data('record');
                            selRowOrder = record;
                        });
                    } else {
                        selRowOrder = null;
                    };
                }
            });

            $('#ListGridContainer_OrderDetail').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'ZZOD_OrderDetailId ASC',
                toolbar: {
                    hoverAnimation: true,
                    hoverAnimationDuration: 60,
                    hoverAnimationEasing: undefined,
                    @Html.jTableToolbar("ZZE011")
                },
                actions: {
                    listAction: '@Url.Action("List", "ZzOrderDetail")'
                    @Html.jTableDeleteAction("ZZE011", "Delete", "ZzOrderDetail")
                },
                fields: {
                    @Html.jTableItemActions("ZZE011")
                    ZZOD_OrderDetailId: {
                        title: '訂單明細ID',
                        width: '0.1%',
                        key: true,
                        list: false
                    },
                    ZZOD_OrderId: {
                        title: '訂單ID',
                        width: '10%',
                        list: false
                    },
                    ZZOD_OrderNo_XX: {
                        title: '訂單號碼',
                        width: '10%',
                        list: false
                    },
                    ZZOD_OrderDate_XX: {
                        title: '訂單日期',
                        width: '10%',
                        list: false
                    },
                    ZZOD_OrderDesc_XX: {
                        title: '訂單說明',
                        width: '10%',
                        list: false
                    },
                    ZZOD_Item: {
                        title: '品項',
                        width: '10%',
                        list: true
                    },
                    ZZOD_Qty: {
                        title: '數量',
                        width: '10%',
                        list: true
                    },
                    ZZOD_UnitPrice: {
                        title: '單價',
                        width: '10%',
                        list: true
                    },
                    ZZOD_Amount_XX: {
                        title: '金額',
                        width: '10%',
                        list: true
                    }
                },
                formSubmitting: function (event, data) {
                    //data.form("__RequestVerificationToken", $("input[name=\"__RequestVerificationToken\"]").val());
                    //return true;
                    return data.form.validationEngine('validate');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer_OrderDetail').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            var record = $(this).data('record');
                            selRowOrderDetail = record;
                        });
                    } else {
                        selRowOrderDetail = null;
                    };
                }
            });
        }

        $(document).ready(function () {
            //註冊事件
            registerViewEvents();

            //將查詢條件區塊隱藏
            $("#qryCondition").hide();

            //初始化 Grid
            initGrid();

            if ('@Model.ClientMessage'.length > 0) {
                ShowMessage('@Model.ClientMessage');
            }
        });
    </script>
}

