@*@model ftd.data.EO_MenuPermDataTable*@

@{
    ViewBag.Title = @Html.functionName("EOI010", true);
}

@section function_name {
    @Html.functionName("EOI010")
}

@section scripts {
    <script>
        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    break;
                default:
            }
        }

        //查詢
        function doQuery() {
            var userId = $("#Q_EmployeeId").val();
            if (userId == "") {
                ShowMessage("請輸入人員");
                return;
            }
            var menu = $('#UserMenuPerm');
            menu.empty();
            menu.load('/EntOrg/EOI010Partial?userId=' + userId, function () {
                //alert("Load completed.");
            });
        }
        
        $(document).ready(function () {
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
    <input type="hidden" id="Q_EmployeeId" name="Q_EmployeeId" value="" data-cqgroup="CQ_Employee" data-cqfield="EOE_EmployeeId" />
   
    <div class="condition-container">
        <table>
            <tr>
                <td class="field-title">人員</td>
                <td class="field-content">
                    <input type="text" id="Q_EmployeeName" name="Q_EmployeeName" required="required" readonly="readonly" data-cqgroup="CQ_Employee" data-cqfield="EOE_EmployeeName" />
                    @Html.codeQuery("CQ_Employee", "CodeQuery", "EoEmployee", 900, 600)
                </td>
            </tr>
        </table>
        @Html.toolBar("EOI010")
    </div>
}

<div id="UserMenuPerm">
    @Html.Partial("EOI010Partial")
</div>
