@*@model ftd.data.EO_MenuPermDataTable*@

@{
    ViewBag.Title = @Html.functionName("EOM040", true);
}

@section function_name {
    @Html.functionName("EOM040")
}

@section scripts {
    <script>
        //收合或展開查詢條件
        function toggleQueryPanel() {
            $("#qryCondition").toggle('show');
        }

        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    break;
                case "report":
                    break;
                default:
            }
        }

        //查詢
        function doQuery() {
            $("#qryCondition").hide();
            try {
                var jsonData = {};
                jsonData = ToJsonObject();
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();

                $('#ListGridContainer').jtable('load', jsonData);
            }
            catch (e) {
                alert(e);
            }
        }
        //新增
        function doAddNew() {
            ShowDialog(500, 900, true, "@Url.Action("EOM040Edit", "EntOrg")", "新增", false);
        }
        //修改
        function getItemCommands(item) {
            var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("EOM040Edit", "EntOrg")?id=' + item.record.EOMP_MenuPermId + '"><span>修改</span></button>');
            OpenDialog($btn, 500, 900, true);
            return $btn;
        }
        
        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,    //Enable selecting
                multiselect: false, //Allow multiple selecting
                selectingCheckboxes: false, //Show checkboxes on first column
                defaultSorting: 'EOMP_MenuPermId ASC',
                toolbar: {
                    items: [{
                        icon: '../../../Scripts/jtable/themes/lightcolor/add.png',
                        text: '新增',
                        click: doAddNew
                    }]
                },
                actions: {
                    listAction: '@Url.Action("List", "EoMenuPerm")',
                    deleteAction: '@Url.Action("Delete", "EoMenuPerm")'
                },
                fields: {
                    EditColumn: {
                        title: ' ',
                        width: '0.1%',
                        sorting: false,
                        list: true,
                        create: false,
                        edit: false,
                        display: getItemCommands
                    },
                    EOMP_MenuPermId: {
                        title: ' ',
                        width: '0.1%',
                        key: true,
                        create: false,
                        edit: false,
                        list: false,
                    },
                    EOMP_TargetKindName_XX: {
                        title: '授權類型',
                        width: '6%'
                    },
                    EOMP_TargetCode_XX: {
                        title: '授權對象代號',
                        width: '12%',
                        create: false,
                        edit: false
                    },
                    EOMP_TargetName_XX: {
                        title: '授權對象名稱',
                        width: '20%',
                        create: false,
                        edit: false
                    },
                    EOMP_ViewKindName_XX: {
                        title: '檢視權限',
                        width: '6%'
                    }
                }
            });
        }

        $(document).ready(function () {
            $("#qryCondition").hide();

            initGrid();

            doQuery(null);

            DialogCloseListener.whatButtonFireEvent = function (obj) {
                if (obj != "save")
                    return;

                doQuery(null);
            };
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <div class="condition-container">
        <div id="qryTitle">
            <div id="QueryMode" class="query-mode" onclick="toggleQueryPanel()">查詢條件</div>
            <div id="QueryLevel" class="query-level">
                @*<input type="radio" name="Q_QueryLevel" id="Q_QueryLevel_1" value="0" /><label for="Q_QueryLevel_1">查詢增加單</label>
                <input type="radio" name="Q_QueryLevel" id="Q_QueryLevel_2" value="1" checked="checked" /><label for="Q_QueryLevel_2">查詢基本資料</label>
                <input type="radio" name="Q_QueryLevel" id="Q_QueryLevel_3" value="2" /><label for="Q_QueryLevel_3">查詢明細資料</label>*@
            </div>
            <div id="hint" style="display:inline-block; float:right; color:red; height:24px; overflow:hidden;">

            </div>
        </div>

        <div class="clr"></div>

        <div id="qryCondition">
            <table>
                <tr>
                    <td class="field-title">授權類型</td>
                    <td class="field-content">
                        @Html.radioButtons("Q_TargetKind", ftd.data.AppCodeTypeName.CTN_EOMP_TargetKind, "", true)
                    </td>
                </tr>
                <tr>
                    <td class="field-title">授權對象</td>
                    <td class="field-content">
                        <input type="text" id="Q_TargetName_XX" name="Q_TargetName_XX" />
                    </td>
                </tr>
            </table>
            @Html.toolBar("EOM040")
        </div>
    </div>
}

<div id="ListGridContainer"></div>
