@*@model ftd.query.model.EoEmployeeTitleQryModel*@

@{
    ViewBag.Title = @Html.functionName("EOM050", true);
}

@section function_name {
    @Html.functionName("EOM050")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="condition-container">
        <table>
            <tr>
                <td class="field-title">職稱代號</td>
                <td class="field-content"><input type="text" id="Q_TitleCode" name="Q_TitleCode" /></td>
                <td class="field-title">職稱名稱</td>
                <td class="field-content"><input type="text" id="Q_TitleName" name="Q_TitleName" /></td>
            </tr>
        </table>
        @Html.toolBar("EOM050")
    </div>
}

<div id="ListGridContainer"></div>


@section scripts {
    <script>

        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    break;
                case "report":
                    break;
                default:
            }
        }
        
        @*@Html.itemActions("", null)*@

        //查詢
        function doQuery() {
            try {
                var jsonData = {};
                jsonData = ToJsonObject();
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();

                $('#ListGridContainer').jtable('load', jsonData);
            }
            catch (e) {
                alert(e);
            }
        }

        //新增
        function doAddNew() {
            ShowDialog(550, 800, true, "@Url.Action("EOM050Edit")", "新增", false);
        }

        //匯出 Excel
        function doExportExcel() {
            //alert("Do Export Excel");
        }

        //修改
        function getItemCommands(item) {
            var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("EOM050Edit")?id=' + item.record.EOET_EmployeeTitleId + '"><span>修改</span></button>');
            OpenDialog($btn, 550, 800, true);
            return $btn;
        }

        var selRow = "";
        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'EOET_EmployeeTitleId ASC',
                toolbar: {
                    hoverAnimation: true,
                    hoverAnimationDuration: 60,
                    hoverAnimationEasing: undefined,
                    items: [{
                        icon: '../Scripts/jtable/themes/lightcolor/add.png',
                        text: '新增',
                        click: doAddNew
                    }]
                },
                actions: {
                    listAction: '@Url.Action("List", "EoEmployeeTitle")',
                    //createAction: '@Url.Action("Create", "EoEmployeeTitle")',
                    //updateAction: '@Url.Action("Edit", "EoEmployeeTitle")',
                    deleteAction: '@Url.Action("Delete", "EoEmployeeTitle")'
                },
                fields: {
                    EditColumn: {
                        title: '',
                        width: '0.1%',
                        key: false,
                        list: true,
                        create: false,
                        edit: false,
                        sorting: false,
                        listClass: 'jtable-command-column',
                        display: getItemCommands
                    },
                    EOET_EmployeeTitleId: {
                        title: '職稱ID',
                        width: '0.1%',
                        key: true,
                        list: false,
                        create: false,
                        edit: false
                    },
                    EOET_TitleCode: {
                        title: '職稱代號',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOET_TitleName: {
                        title: '職稱名稱',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOET_ListOrder: {
                        title: '職稱順序',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOET_InUseName_XX: {
                        title: '使用中',
                        width: '10%',
                        key: false,
                        list: true,
                        create: false,
                        edit: false
                    },
                    EOET_UserCount_XX: {
                        title: '人數',
                        width: '10%',
                        key: false,
                        list: true,
                        create: false,
                        edit: false
                    }
                },
                formSubmitting: function (event, data) {
                    //data.form("__RequestVerificationToken", $("input[name=\"__RequestVerificationToken\"]").val());
                    //return true;
                    return data.form.validationEngine('validate');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            var record = $(this).data('record');
                            selRow = record;
                            //$("#EOET_EmployeeTitleId").val(selRow.EOET_EmployeeTitleId);
                        });
                    };
                }
            });
        }

        $(document).ready(function () {
            //初始化 Grid
            initGrid();

            doQuery();

            //Edit後回到列表的動作
            DialogCloseListener.whatButtonFireEvent = function (obj) {
                if (obj != "save")
                    return;

                doQuery();
            };
        });
    </script>
}

