@model ftd.data.EO_MenuStructRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {

    <script>
@*        //CodeQuery-父節點
        function CQ_ParentNodeOpen() {
            CodeQuery(500, 800, true, "@Url.Action("CodeQuery", "EoMenuStruct")?RequestKey=CQ_ParentNode", "功能表");
        }
        function CQ_ParentNodeFinish(item) {
            $('#EOMS_ParentId').val(item.EOMS_NodeId);
            $('#EOMS_ParentCode_XX').val(item.EOMS_Code);
            $('#EOMS_ParentName_XX').val(item.EOMS_Name);
            $('#EOMS_ParentName_XX').val('test');
        }

        function registerCodeQueryFinishEvent() {
            $("#CQ_Result").change(function () {
                //取得回傳的資料(JSON String)
                var jsonString = $("#CQ_Result").val();
                //alert(jsonString);

                //解析回傳的資料(JSON String --> JSON Object)
                var returnObj = JSON.parse(jsonString, function (key, value) {
                    var type;
                    if (value && typeof value === 'object') {
                        type = value.type;
                        if (typeof type === 'string' && typeof window[type] === 'function') {
                            return new (window[type])(value);
                        }
                    }
                    return value;
                });
                //updateCodeQueryResult(returnObj.RequestKey, returnObj.Row);
                var item = returnObj.Row;
                switch (returnObj.RequestKey) {
                    case 'CQ_ParentNode':
                        CQ_ParentNodeFinish(item);
                        break;
                    default:
                        break;
                }
            });
        }*@

        $(document).ready(function () {
            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (CheckInput()) {
                    var tfm = $("#formEdit").serialize();
                    $.ajax({
                        url: '@Url.Action("Edit", "EoMenuStruct")',
                        type: "POST",
                        //contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: tfm,
                        success: function (response) {
                            Save(response);
                            //因為使用AJAX，故儲存成功後需自行關閉視窗
                            var result = response['Result'];
                            if (result != "ERROR") {
                                //觸發父視窗重新查詢
                                parent.DialogCloseListener.whatButtonFireEvent("save");
                                //關閉對話框
                                CloseDialog();
                            }
                        }
                    });
                }
                return false;
            };
            //$("#CQ_Result").off('change');
            //registerCodeQueryFinishEvent();
        });

    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "EoMenuStruct", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode" value="@viewMode" />
            <input type="hidden" id="CQ_Result" name="CQ_Result" data-cqresult="default" value="" />
            @Html.HiddenFor(m => m.EOMS_NodeId)
            @Html.HiddenFor(m => m.EOMS_ParentId, new { data_cqgroup = "CQ_ParentNode", data_cqfield = "EOMS_NodeId" })
        </div>
        <table>
            <tr>
                <td class="field-title">功能代號</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOMS_Code, new { title = "!功能代號", required = "required" })
                </td>
                <td class="field-title">功能名稱</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOMS_Name, new { title = "!功能名稱", required = "required", style = "width:300px;" })
                </td>
            </tr>
            <tr>
                <td class="field-title">Action</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOMS_CustAttr1, new { title = "!自訂參數1" })
                </td>
                <td class="field-title">Controller</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOMS_CustAttr2, new { title = "!自訂參數2" })
                </td>
            </tr>
            <tr>
                <td class="field-title">Area</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOMS_CustAttr3, new { title = "!自訂參數3" })
                </td>
                <td class="field-title">點選模式</td>
                <td class="field-content">
                    @Html.dropDownListFor(m => m.EOMS_ClickMode, ftd.data.AppCodeTypeName.CTN_EOMS_ClickMode, true, new { title = "!點選模式", required = "required" })
                </td>
            </tr>
            <tr>
                <td class="field-title">網址</td>
                <td class="field-content" colspan="3">
                    @Html.TextBoxFor(m => m.EOMS_Url, new { title = "!網址", style = "width:600px;" })
                </td>
            </tr>
            <tr>
                @*<td class="field-title">視窗</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOMS_WinClass, new { title = "!視窗" })</td>*@
                <td class="field-title">網址Tareget</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOMS_UrlTarget, new { title = "!網址Tareget", style = "width:100px;" })
                </td>
                <td class="field-title">參數</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOMS_WinParam, new { title = "!參數", style = "width:300px;" })
                </td>
            </tr>
            <tr>
                <td class="field-title">排序順序</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOMS_SortNo, new { title = "!排序順序", style = "width:100px;" })
                </td>
                <td class="field-title">備註</td>
                <td class="field-content">
                    @Html.TextAreaFor(m => m.EOMS_Note, 3, 40, new { title = "!備註" })
                </td>
            </tr>
            <tr>
                <td class="field-title">顯示</td>
                <td class="field-content">
                    @Html.dropDownListFor(m => m.EOMS_Viewable, ftd.data.AppCodeTypeName.CTN_APP_YN, false, new { title = "!顯示" })
                </td>
                <td class="field-title">父節點</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOMS_ParentCode_XX, new { title = "!父節點代號", disabled = "disabled", style = "width:100px;", data_cqgroup = "CQ_ParentNode", data_cqfield = "EOMS_Code" })
                    @Html.TextBoxFor(m => m.EOMS_ParentName_XX, new { title = "!父節點名稱", disabled = "disabled", data_cqgroup = "CQ_ParentNode", data_cqfield = "EOMS_Name" })
                    @Html.codeQuery("CQ_ParentNode", "CodeQuery", "EoMenuStruct", 600, 500, new { title = "父節點" })
                </td>
            </tr>
        </table>
    }
</div>

