@*@model ftd.query.model.EoMenuStructQryModel*@

@{
    ViewBag.Title = @Html.functionName("EOM030", true);
}

@section function_name {
    @Html.functionName("EOM030")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="EOMS_Code" name="EOMS_Code" value="" />

    <div class="condition-container">
        <div id="qryTitle">
            <div id="QueryMode" class="query-mode" onclick="toggleQueryPanel()">查詢條件</div>
            <div id="QueryLevel" class="query-level">
                @*<input type="radio" name="Q_QueryLevel" id="Q_QueryLevel_1" value="0" /><label for="Q_QueryLevel_1">查詢增加單</label>
                <input type="radio" name="Q_QueryLevel" id="Q_QueryLevel_2" value="1" checked="checked" /><label for="Q_QueryLevel_2">查詢基本資料</label>
                <input type="radio" name="Q_QueryLevel" id="Q_QueryLevel_3" value="2" /><label for="Q_QueryLevel_3">查詢明細資料</label>*@
            </div>
            <div id="hint" style="display:inline-block; float:right; color:red; height:24px; overflow:hidden;">

            </div>
        </div>

        <div class="clr"></div>

        <div id="qryCondition">
            <table>
                <tr>
                    <td class="field-title">功能代號</td>
                    <td class="field-content"><input type="text" id="Q_Code" name="Q_Code" /></td>
                    <td class="field-title">功能名稱</td>
                    <td class="field-content"><input type="text" id="Q_Name" name="Q_Name" /></td>
                    <td class="field-title">點選模式</td>
                    <td class="field-content">@Html.dropDownList("Q_ClickMode", ftd.data.AppCodeTypeName.CTN_EOMS_ClickMode, true)</td>
                    <td class="field-title">顯示</td>
                    <td class="field-content">@Html.dropDownList("Q_Viewable", ftd.data.AppCodeTypeName.CTN_APP_YN, true)</td>
                </tr>
            </table>
            @Html.toolBar("EOM030")
        </div>
    </div>
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">功能選單</a></li>
        <li><a href="#tabs-2">功能動作</a></li>
    </ul>
    <div id="tabs-1">
        <div id="ListGridContainer"></div>
    </div>
    <div id="tabs-2">
        <div id="ListGridContainerDetail"></div>
    </div>
</div>


@section scripts {

    <script type="text/javascript" src="~/Scripts/Jtabcontrol.js"></script>
    <script>
        //收合或展開查詢條件
        function toggleQueryPanel() {
            $("#qryCondition").toggle('show');
        }

        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    switchpage(tabs, 0);
                    break;
                case "report":
                    break;
                default:
            }
        }

        //查詢-程式
        function doQuery() {
            $("#qryCondition").hide();
            try {
                var jsonData = {};
                jsonData = ToJsonObject();
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();

                $('#ListGridContainer').jtable('load', jsonData);
            }
            catch (e) {
                alert(e.message);
            }
        }
        //新增-程式
        function doAddNew() {
            ShowDialog(600, 900, true, "@Url.Action("EOM030Edit", "EntOrg")", "新增", false);
        }
        //修改-程式
        function getItemCommands(item) {
            var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("EOM030Edit", "EntOrg")?id=' + item.record.EOMS_NodeId + '"><span>修改</span></button>');
            OpenDialog($btn, 600, 900, true);
            return $btn;
        }

        //查詢-功能
        function doQueryDetail(ItemNo) {
            try {
                $('#ListGridContainerDetail').jtable('load', {
                    Q_ItemNo: ItemNo,
                    __RequestVerificationToken: $("input[name=\"__RequestVerificationToken\"]").val()
                });
            }
            catch (e) {
                alert(e.message);
            }
        }
        //新增-功能
        function doAddNewDetail() {
            ShowDialog(500, 900, true, "@Url.Action("EOM031Create", "EntOrg")?itemNo=" + $("#EOMS_Code").val(), "新增", false);
        }
        //修改-功能
        function getItemCommandsDetail(item) {
            var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("EOM031Edit", "EntOrg")?id=' + item.record.EOMF_MenuFunId + '"><span>修改</span></button>');
            OpenDialog($btn, 500, 900, true);
            return $btn;
        }
        //加入基本功能
        function doAddDefault(item) {
            var itemNo = $("#EOMS_Code").val();
            if (!itemNo || itemNo == "") {
                //alert("尚未選擇程式!");
                ShowMessage("尚未選擇程式!");
                return;
            }

            ConfirmMessage("確定新增基本功能？", function () {
                showLoading();
                $.ajax({
                    url: '@Url.Action("AddDefault", "EoMenuFun")',
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { ItemNo: itemNo },
                    success: function (response) {
                        hideLoading();
                        var msg = "";
                        if (response == null)
                            msg = "新增基本功能失敗!";
                        var result = response['Result'];
                        var message = response['Message'];
                        if (result == "OK") {
                            msg = "新增基本功能完成";
                        } else {
                            msg = message;
                        }
                        //alert(msg);
                        ShowMessage(msg);
                        doQueryDetail(itemNo);
                    }
                });
            });
        }

        var selRow = null;
        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'EOMS_NodeId ASC',
                toolbar: {
                    hoverAnimation: true,
                    hoverAnimationDuration: 60,
                    hoverAnimationEasing: undefined,
                    items: [{
                        icon: '../Scripts/jtable/themes/lightcolor/add.png',
                        text: '新增',
                        click: doAddNew
                    }]
                },
                actions: {
                    listAction: '@Url.Action("List", "EoMenuStruct")',
                    deleteAction: '@Url.Action("Delete", "EoMenuStruct")'
                },
                fields: {
                    EditColumn: {
                        title: '',
                        width: '0.1%',
                        key: false,
                        list: true,
                        create: false,
                        edit: false,
                        listClass: 'jtable-command-column',
                        display: getItemCommands,
                        sorting: false
                    },
                    EOMS_NodeId: {
                        title: '功能ID',
                        width: '0.1%',
                        key: true,
                        list: false
                    },
                    EOMS_Code: {
                        title: '程式代號',
                        width: '8%',
                        key: false,
                        list: true
                    },
                    EOMS_Name: {
                        title: '程式名稱',
                        width: '20%',
                        key: false,
                        list: true
                    },
                    EOMS_ClickModeName_XX: {
                        title: '點選模式',
                        width: '8%',
                        key: false,
                        list: true
                    },
                    EOMS_ParentCode_XX: {
                        title: '父節點',
                        width: '10%',
                        key: false,
                        list: true
                    },
                    EOMS_SortNo: {
                        title: '排序順序',
                        width: '8%',
                        key: false,
                        list: true
                    },
                    EOMS_Viewable: {
                        title: '顯示',
                        width: '6%',
                        key: false,
                        list: true
                    },
                    EOMS_CustAttr1: {
                        title: 'Action',
                        width: '8%',
                        key: false,
                        list: true
                    },
                    EOMS_CustAttr2: {
                        title: 'Controller',
                        width: '8%',
                        key: false,
                        list: true
                    },
                    EOMS_CustAttr3: {
                        title: 'Area',
                        width: '8%',
                        key: false,
                        list: true
                    }
                },
                formSubmitting: function (event, data) {
                    //data.form("__RequestVerificationToken", $("input[name=\"__RequestVerificationToken\"]").val());
                    //return true;
                    return data.form.validationEngine('validate');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            var record = $(this).data('record');
                            selRow = record;
                            $("#EOMS_Code").val(selRow.EOMS_Code);
                        });
                    } else {
                        selRow = null;
                        $("#EOMS_Code").val("");
                    };
                }
            });

            $('#ListGridContainerDetail').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'EOMF_SeqNo ASC',
                toolbar: {
                    hoverAnimation: true,
                    hoverAnimationDuration: 60,
                    hoverAnimationEasing: undefined,
                    items: [
                        {
                            icon: '../Scripts/jtable/themes/lightcolor/add.png',
                            text: '新增',
                            click: doAddNewDetail
                        },
                        {
                            icon: '../Scripts/jtable/themes/lightcolor/add.png',
                            text: '加入基本功能',
                            click: doAddDefault
                        }
                    ]
                },
                actions: {
                    listAction: '@Url.Action("List", "EoMenuFun")',
                    deleteAction: '@Url.Action("Delete", "EoMenuFun")'
                },
                fields: {
                    EditColumn: {
                        title: '',
                        width: '0.1%',
                        key: false,
                        list: true,
                        create: false,
                        edit: false,
                        listClass: 'jtable-command-column',
                        display: getItemCommandsDetail,
                        sorting: false
                    },
                    EOMF_MenuFunId: {
                        title: '程式功能清單ID',
                        width: '0.1%',
                        key: true,
                        list: false
                    },
                    EOMF_ItemNo: {
                        title: '程式代號',
                        width: '8%',
                        list: true
                    },
                    EOMF_FunctionCode: {
                        title: '功能代號',
                        width: '8%',
                        list: true
                    },
                    EOMF_FunctionName: {
                        title: '功能名稱',
                        width: '10%',
                        list: true
                    },
                    EOMF_FunctionDesc: {
                        title: '功能說明',
                        width: '20%',
                        list: true
                    },
                    EOMF_ToolbarLevelName_XX: {
                        title: '層級',
                        width: '8%',
                        list: true
                    },
                    EOMF_SeqNo: {
                        title: '排序',
                        width: '6%',
                        list: true
                    }
                },
                formSubmitting: function (event, data) {
                    //data.form("__RequestVerificationToken", $("input[name=\"__RequestVerificationToken\"]").val());
                    //return true;
                    return data.form.validationEngine('validate');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            //var record = $(this).data('record');
                            //selRow = record;
                            //$("#EOMF_MenuFunId").val(record.EOMF_MenuFunId);
                        });
                    } else {
                        //selRow = null;
                        //$("#EOMF_MenuFunId").val('');
                    };
                }
            });
        }

        var tabs;
        function initTab() {
            tabs = $("#tabs").tabs();
            //預設起始頁面--default 0
            //switchpage(tabs, 0);

            //設定頁面切換權限 ex '1;0,2;0' ==> tab[0] 可以開tab[1] ;tab[1] 可以開tab[0]和 tab[2];tab[2] 可以開tab[0]
            //var Seq = '1;0';
            //changeSeq(Seq);
            showMsg = "不允許切換到該頁籤!";//"尚有其它步驟尚未完成，請先完成其它步驟內容!";
            var TabListener = initTabs(tabs);

            try {
                TabListener.whatButtonFireEvent = function (ui) {
                    switch (getSelectIndex(ui)) {
                        case 0:
                            //$("#Q1").show();
                            doQuery();
                            break;
                        case 1:
                            if ($("#EOMS_Code").val() == "") {
                                ShowMessage("尚未選擇程式!");
                                return;
                            }
                            //if (selRow && selRow.EOMS_ChildCount_XX > 0) {
                            //    ShowMessage("目錄節點不可設定功能");
                            //    return;
                            //}
                            //$("#Q1").hide();
                            doQueryDetail($("#EOMS_Code").val());
                            break;
                        default:
                            break;
                    }
                    selRow = "";
                    return true;
                };
            }
            catch (e) {
                alert(e.message);
            }
        }

        $(document).ready(function () {
            $("#qryCondition").hide();

            //初始化 Grid
            initGrid();

            //初始化 Tabs
            initTab();

            doQuery();

            //Edit後回到列表的動作
            DialogCloseListener.whatButtonFireEvent = function (obj) {
                if (obj != "save")
                    return;

                switch (currentpageIndex) {
                    case 0:
                        FireEvent = false;
                        doQuery();
                        FireEvent = true;
                        break;
                    case 1:
                        if ($("#EOMS_Code").val() == "") {
                            ShowMessage("尚未選擇程式!");
                            return;
                        }
                        //$("#Q1").hide();
                        doQueryDetail($("#EOMS_Code").val());
                        break;
                    default:
                        break;
                }
            };
        });
    </script>
}

