@model ftd.data.EO_MenuFunRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {

    <script>
        $(document).ready(function () {
            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (!CheckInput()) {
                    return false;
                }

                var tfm = $("#formEdit").serialize();
                $.ajax({
                    url: '@Url.Action("Edit", "EoMenuFun")',
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: tfm,
                    success: function (response) {
                        Save(response);
                        //因為使用AJAX，故儲存成功後需自行關閉視窗
                        var result = response['Result'];
                        if (result != "ERROR") {
                            //觸發父視窗重新查詢
                            parent.DialogCloseListener.whatButtonFireEvent("save");
                            //關閉對話框
                            CloseDialog();
                        }
                    }
                });
                return false;
            };
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "EoMenuFun", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode"  value="@viewMode"/>
            <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
            @Html.HiddenFor(m => m.EOMF_MenuFunId)
        </div>
        <table>
            <tr>
                <td class="field-title">程式代號</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOMF_ItemNo, new { title = "!程式代號", required = "required", ReadOnly = "readonly" })</td>
            </tr>
            <tr>
                <td class="field-title">功能代號</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOMF_FunctionCode, new { title = "!功能代號", required = "required" })</td>
            </tr>
            <tr>
                <td class="field-title">功能名稱</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOMF_FunctionName, new { title = "!功能名稱", required = "required" })</td>
            </tr>
            <tr>
                <td class="field-title">功能說明</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOMF_FunctionDesc, new { title = "!功能說明", style = "width:400px;" })</td>
            </tr>
            <tr>
                <td class="field-title">排序</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOMF_SeqNo, new { title = "!排序", required = "required" })</td>
            </tr>
            <tr>
                <td class="field-title">工具列層級</td>
                <td class="field-content">
                    @Html.dropDownListFor(m => m.EOMF_ToolbarLevel, ftd.data.AppCodeTypeName.CTN_ToolbarLevel, false, new { title = "!工具列層級", required = "required" })
                </td>
            </tr>
        </table>
    }
</div>

