@model ftd.data.EO_DeptMemberRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {

    <script>
        $(document).ready(function () {
            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (!CheckInput()) {
                    return false;
                }

                var tfm = $("#formEdit").serialize();
                $.ajax({
                    url: '@Url.Action("Edit", "EoDeptMember")',
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: tfm,
                    success: function (response) {
                        Save(response);
                        //因為使用AJAX，故儲存成功後需自行關閉視窗
                        var result = response['Result'];
                        if (result != "ERROR") {
                            //觸發父視窗重新查詢
                            parent.DialogCloseListener.whatButtonFireEvent("save");
                            //關閉對話框
                            CloseDialog();
                        }
                    }
                });
                return false;
            };
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "EoDeptMember", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode"  value="@viewMode"/>
            <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
            @Html.HiddenFor(m => m.EODM_DeptMemberId)
            @Html.HiddenFor(m => m.EODM_DeptId, new { data_cqgroup = "CQ_Dept", data_cqfield = "EOD_DepartmentId" })
            @Html.HiddenFor(m => m.EODM_MemberId)
        </div>
        <table>
            <tr>
                <td class="field-title">人員代號</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EODM_EmpCode_XX, new { title = "!人員代號", @readonly = "readonly" })</td>
                <td class="field-title">人員姓名</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EODM_EmpName_XX, new { title = "!人員姓名", @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td class="field-title">群組</td>
                <td class="field-content" colspan="3">
                    @Html.TextBoxFor(m => m.EODM_DeptCode_XX, new { title = "!群組代號", @readonly = "readonly", data_cqgroup = "CQ_Dept", data_cqfield = "EOD_DepartmentCode" })
                    @Html.TextBoxFor(m => m.EODM_DeptName_XX, new { title = "!群組名稱", @readonly = "readonly", data_cqgroup = "CQ_Dept", data_cqfield = "EOD_DepartmentName" })
                    @Html.codeQuery("CQ_Dept", "CodeQuery", "EoDepartment", false)
                </td>
            </tr>
        </table>
    }
</div>

