@model ftd.data.EO_PermissionSettingRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {

    <script>
        $(document).ready(function () {
            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (!CheckInput()) {
                    return false;
                }

                var tfm = $("#formEdit").serializeAll();
                $.ajax({
                    url: '@Url.Action("Edit", "EoPermissionSetting")',
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: tfm,
                    success: function (response) {
                        Save(response);
                        //因為使用AJAX，故儲存成功後需自行關閉視窗
                        var result = response['Result'];
                        if (result != "ERROR") {
                            //觸發父視窗重新查詢
                            parent.DialogCloseListener.whatButtonFireEvent("save");
                            //關閉對話框
                            CloseDialog();
                        }
                    }
                });
                return false;
            };
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "EoPermissionSetting", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode"  value="@viewMode"/>
            <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
            @Html.HiddenFor(m => m.EOPS_PermissionSettingId)
            @Html.HiddenFor(m => m.EOPS_PermissionUserId)
            @Html.HiddenFor(m => m.EOPS_PermissionId, new { data_cqgroup = "CQ_Perm", data_cqfield = "EOP_PermissionId" })
            @Html.HiddenFor(m => m.EOPS_ObjectId)
        </div>
        <table>
            <tr>
                <td class="field-title">授權對象(人)</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOPS_PermissionUserName_XX, new { title = "!授權對象(人)", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td class="field-title">權限</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOPS_PermissionCode_XX, new { title = "!權限代號", @readonly = "readonly", data_cqgroup = "CQ_Perm", data_cqfield = "EOP_PermissionCode" })
                    @Html.TextBoxFor(m => m.EOPS_PermissionName_XX, new { title = "!權限名稱", @readonly = "readonly", data_cqgroup = "CQ_Perm", data_cqfield = "EOP_PermissionName" })
                    @Html.codeQuery("CQ_Perm", "CodeQuery", "EoPermission", false)
                </td>
            </tr>
        </table>
    }
</div>

