@model  ftd.data.EO_MenuPermRow
@*List<ftd.data.FtdXmlMenuNode>*@
@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {
    <script>
        //CodeQuery-授權對象
        function CQ_TargetOpen() {
            var targetKind = getCheckBox_Select_Single("EOMP_TargetKind");
            switch (targetKind) {
                case "A":  //人員
                    CodeQuery(500, 1000, true, "@Url.Action("CodeQuery", "EoEmployee")?RequestKey=CQ_TargetA", "人員");
                    break;
                case "B":  //群組
                    CodeQuery(500, 800, true, "@Url.Action("CodeQuery", "EoDepartment")?RequestKey=CQ_TargetB", "群組");
                    break;
                case "C":  //職稱
                    CodeQuery(500, 800, true, "@Url.Action("CodeQuery", "EoEmployeeTitle")?RequestKey=CQ_TargetC", "職稱");
                    break;
                case "D":  //權限
                    CodeQuery(500, 800, true, "@Url.Action("CodeQuery", "EoPermission")?RequestKey=CQ_TargetD", "權限");
                    break;
                case "E":  //機關
                    CodeQuery(500, 800, true, "@Url.Action("CodeQuery", "SyOrgan")?RequestKey=CQ_TargetE", "機關");
                    break;
                default:
                    break;
            }
        }

        function registerElementEvent() {
            // CodeQuery Finish Event
            $("#CQ_Result").change(function () {
                //取得回傳的資料(JSON String)
                var jsonString = $("#CQ_Result").val();
                //alert(jsonString);

                //解析回傳的資料(JSON String --> JSON Object)
                var returnObj = JSON.parse(jsonString, function (key, value) {
                    var type;
                    if (value && typeof value === 'object') {
                        type = value.type;
                        if (typeof type === 'string' && typeof window[type] === 'function') {
                            return new (window[type])(value);
                        }
                    }
                    return value;
                });
                var item = returnObj.Row;
                switch (returnObj.RequestKey) {
                    case 'CQ_TargetA': //人員
                        $('#EOMP_TargetId').val(item.EOE_EmployeeId);
                        $('#EOMP_TargetCode_XX').val(item.EOE_EmployeeCode);
                        $('#EOMP_TargetName_XX').val(item.EOE_EmployeeName);
                        break;
                    case 'CQ_TargetB': //群組
                        $('#EOMP_TargetId').val(item.EOD_DepartmentId);
                        $('#EOMP_TargetCode_XX').val(item.EOD_DepartmentCode);
                        $('#EOMP_TargetName_XX').val(item.EOD_DepartmentName);
                        break;
                    case 'CQ_TargetC': //職稱
                        $('#EOMP_TargetId').val(item.EOET_EmployeeTitleId);
                        $('#EOMP_TargetCode_XX').val(item.EOET_TitleCode);
                        $('#EOMP_TargetName_XX').val(item.EOET_TitleName);
                        break;
                    case 'CQ_TargetD': //權限
                        $('#EOMP_TargetId').val(item.EOP_PermissionId);
                        $('#EOMP_TargetCode_XX').val(item.EOP_PermissionCode);
                        $('#EOMP_TargetName_XX').val(item.EOP_PermissionName);
                        break;
                    case 'CQ_TargetE': //機關
                        $('#EOMP_TargetId').val(item.SYO_OrganId);
                        $('#EOMP_TargetCode_XX').val(item.SYO_OrganId);
                        $('#EOMP_TargetName_XX').val(item.SYO_OrganSName);
                        break;
                    default:
                        break;
                }
            });

            // CheckBox Click Event
            $('input:checkbox').click(function () {
                var chk = $(this);
                var id = chk.prop("id");
                var itemno = chk.attr("data-itemno");
                var isChecked = chk.is(':checked');

                //勾選功能(新增、修改…)-->需連動程式也勾選
                if (id.match(/chk_fun_.*/)) {
                    var prg = chk.parent().find("input:checkbox#chk_menu_" + itemno);
                    if (prg && isChecked) {
                        prg.prop("checked", isChecked);
                    }
                    return;
                }

                //勾選目錄或程式
                var chks = chk.parent().find("input:checkbox");
                chks.each(function (obj) {
                    $(this).prop("checked", isChecked);
                });
            });
        }

        $(document).ready(function () {
            //$("#accordion").accordion();

            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (CheckInput()) {
                    showLoading();
                    var disabled = $("#formEdit").find(':input:disabled').removeAttr('disabled');
                    var tfm = $("#formEdit").serialize();
                    $.ajax({
                        url: '@Url.Action("Edit", "EoMenuPerm")',
                        type: "POST",
                        //contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: tfm,
                        success: function (response) {
                            hideLoading();
                            Save(response);
                            //因為使用AJAX，故儲存成功後需自行關閉視窗
                            var result = response['Result'];
                            if (result != "ERROR") {
                                //觸發父視窗重新查詢
                                parent.DialogCloseListener.whatButtonFireEvent("save");
                                //關閉對話框
                                CloseDialog();
                            }
                        }
                    });
                }
                return false;
            };

            registerElementEvent();

            //$('input:checkbox').each(function () {
            //    $(this).prop("disabled", true);
            //});
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "EoMenuPerm", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode" value="@viewMode" />
            <input type="hidden" id="CQ_Result" name="CQ_Result" data-cqresult="user" value="" />

            @Html.HiddenFor(m => m.EOMP_MenuPermId)
            @Html.HiddenFor(m => m.EOMP_MenuId)
            @Html.HiddenFor(m => m.EOMP_TargetId, new { data_cqgroup = "CQ_Target" })
        </div>
            
        <table>
            <tr>
                <td>授權類型</td>
                <td>
                    @Html.radioButtonsFor(m => m.EOMP_TargetKind, ftd.data.AppCodeTypeName.CTN_EOMP_TargetKind, new { required = "required" })
                </td>
            </tr>
            <tr>
                <td>授權對象</td>
                <td>
                    @Html.TextBoxFor(m => m.EOMP_TargetCode_XX, new { title = "!對象代號", required = "required", ReadOnly = "readonly", data_cqgroup = "CQ_Target" })
                    @Html.TextBoxFor(m => m.EOMP_TargetName_XX, new { title = "!對象代號", required = "required", ReadOnly = "readonly", data_cqgroup = "CQ_Target" })
                    @Html.codeQueryUserDefine("CQ_Target", "CQ_TargetOpen();")
                </td>
            </tr>
            <tr>
                <td>檢視權限</td>
                <td>
                    @Html.radioButtonsFor(m => m.EOMP_ViewKind, ftd.data.AppCodeTypeName.CTN_EOMP_ViewKind, new { title = "!檢視權限", required = "required" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @*<div id="accordion">
                    </div>*@
                    @Html.treeViewMenuPermFor(m => m.EOMP_MenuPermId, "MenuStruct");
                </td>
            </tr>
        </table>
    }
</div>

