@model ftd.data.CR_CourseRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {

    <script>
        $(document).ready(function () {
            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (!CheckInput()) {
                    return false;
                }

                var tfm = $("#formEdit").serialize();
                $.ajax({
                    url: '@Url.Action("Edit", "CrCourse")',
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: tfm,
                    success: function (response) {
                        Save(response);
                        //因為使用AJAX，故儲存成功後需自行關閉視窗
                        var result = response['Result'];
                        if (result != "ERROR") {
                            //觸發父視窗重新查詢
                            parent.DialogCloseListener.whatButtonFireEvent("save");
                            //關閉對話框
                            CloseDialog();
                        }
                    }
                });
                return false;
            };
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "CrCourse", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode"  value="@viewMode"/>
            <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
            @Html.HiddenFor(m => m.CRC_CourseId)
        </div>
        
        <table>
            <tr>
                <td class="field-title">課程代號</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRC_Code, new { title = "!課程代號", required = "required" })
                </td>
                <td class="field-title">啟用</td>
                <td class="field-content">
                    @Html.dropDownListFor(m => m.CRC_IsEnable, ftd.data.AppCodeTypeName.CTN_APP_YN, true, new { title = "!啟用", required = "required" })
                </td>
            </tr>
            <tr>
                <td class="field-title">課程名稱</td>
                <td class="field-content" colspan="3">
                    @Html.TextBoxFor(m => m.CRC_Name, new { title = "!課程名稱", required = "required", style = "width:500px;" })
                </td>
            </tr>
            <tr>
                <td class="field-title">說明</td>
                <td class="field-content" colspan="3">
                    @Html.TextAreaFor(m => m.CRC_Description, 5, 80, new { title = "!說明" })
                </td>
            </tr>
            <tr>
                <td class="field-title">課程開始日期</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRC_StartDate, new { title = "!課程開始日期", required = "required", @class = "date" })
                </td>
                <td class="field-title">課程結束日期</td>
                <td class="field-content">@Html.TextBoxFor(m => m.CRC_EndDate, new { title = "!課程結束日期", required = "required", @class = "date" })</td>
            </tr>
            <tr>
                <td class="field-title">報名開始日期</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRC_RegisterStartDate, new { title = "!報名開始日期", required = "required", @class = "date" })
                </td>
                <td class="field-title">報名結束日期</td>
                <td class="field-content">@Html.TextBoxFor(m => m.CRC_RegisterEndDate, new { title = "!報名結束日期", required = "required", @class = "date" })</td>
            </tr>
            <tr>
                <td class="field-title">已報名人數</td>
                <td class="field-content" colspan="3">
                    @Html.TextBoxFor(m => m.CRC_RegisterQty_XX, new { title = "!已報名人數", Readonly = "readonly" })
                </td>
            </tr>
        </table>
    }
</div>

