@model ftd.data.EO_LoginAccountRow

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

@if (Model == null)
{
    <h3>資料不存在！</h3>
    <br />
    @Html.ActionLink("返回", "Index")
}
else
{
    <h3>確定要刪除這一筆資料嗎？</h3>
    <fieldset>
        <legend>登入帳號</legend>

        <table>
            <tr>
                <td>
                    <div class="display-label">
                        登入者Email
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.EOLA_FailureCount)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        登入者Email
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.EOLA_FailureDate)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        登入者Email
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.EOLA_LastLoginDate)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        登入帳號
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.EOLA_LoginAccount)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        EOLA_LoginPassword
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.EOLA_LoginPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        登入者Email
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.EOLA_UserEmail_XX)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        登入者姓名
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.EOLA_UserName_XX)
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <p>
            <input type="submit" value="刪除" />
            |
            @Html.ActionLink("返回", "Index")
        </p>
    }
}
