@model ftd.data.EO_LoginAccountRow

@{
    ViewBag.Title = "登入帳號";
}

<h2>檢視</h2>

<fieldset>
    <legend>登入帳號</legend>

    <table>
        <tr>
            <td>
                <div class="display-label">
                    登入者Email
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EOLA_FailureCount)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    登入者Email
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EOLA_FailureDate)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    登入者Email
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EOLA_LastLoginDate)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    登入帳號
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EOLA_LoginAccount)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    EOLA_LoginPassword
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EOLA_LoginPassword)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    登入者Email
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EOLA_UserEmail_XX)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    登入者姓名
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EOLA_UserName_XX)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("編輯", "Edit", new { id=Model.EOLA_LoginAccountId }) |
    @Html.ActionLink("返回", "Index")
</p>

