@model ftd.data.EO_LoginAccountDataTable

@{
    ViewBag.Title = "登入帳號";
}

<style>
.ListTable, .ListTable tr, .ListTable th, .ListTable td
{
    border:solid;
    border-width:1px;
}

.ListTable th, .ListTable td
{
    white-space:nowrap;
    padding:5px;
}
</style>

<h2>登入帳號</h2>

<div style="border:1px;">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>查詢條件</legend>
        
        <table>
            <tr>
                <td>登入帳號</td>
                <td colspan="3"><input type="text" name="Q_LoginAccount" /></td>
            </tr>
            <tr>
                <td>登入者Email</td>
                <td colspan="3"><input type="text" name="Q_UserEmail_XX" /></td>
            </tr>
            <tr>
                <td>登入者姓名</td>
                <td colspan="3"><input type="text" name="Q_UserName_XX" /></td>
            </tr>
        </table>

        <p>
            <input type="submit" value="查詢" style="width:60px;" />
            @Html.ActionLink("新增", "Create")
        </p>
    </fieldset>
}
</div>

<p>
</p>

<div class="tablestyle">
	<table>
    <tr>
        <th></th>
        <th>
            登入者Email
        </th>
        <th>
            登入者Email
        </th>
        <th>
            登入者Email
        </th>
        <th>
            登入帳號
        </th>
        <th>
            EOLA_LoginPassword
        </th>
        <th>
            登入者Email
        </th>
        <th>
            登入者姓名
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.EOLA_LoginAccountId }) |
            @Html.ActionLink("檢視", "Details", new { id=item.EOLA_LoginAccountId }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.EOLA_LoginAccountId }) |
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOLA_FailureCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOLA_FailureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOLA_LastLoginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOLA_LoginAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOLA_LoginPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOLA_UserEmail_XX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EOLA_UserName_XX)
        </td>
    </tr>
}

</table>
</div>