@model ftd.data.EO_PermissionRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {

    <script>
        $(document).ready(function () {
            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (!CheckInput()) {
                    return false;
                }

                var tfm = $("#formEdit").serializeAll();
                $.ajax({
                    url: '@Url.Action("Edit", "EoPermission")',
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: tfm,
                    success: function (response) {
                        Save(response);
                        //因為使用AJAX，故儲存成功後需自行關閉視窗
                        var result = response['Result'];
                        if (result != "ERROR") {
                            //觸發父視窗重新查詢
                            parent.DialogCloseListener.whatButtonFireEvent("save");
                            //關閉對話框
                            CloseDialog();
                        }
                    }
                });
                return false;
            };
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "EoPermission", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode"  value="@viewMode"/>
            <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
            @Html.HiddenFor(m => m.EOP_PermissionId)
            @Html.HiddenFor(m => m.EOP_IsEveryOneAllow)
        </div>
        <table>
            <tr>
                <td class="field-title">權限代號</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOP_PermissionCode, new { title = "!權限代號", required = "required" })</td>
            </tr>
            <tr>
                <td class="field-title">權限名稱</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOP_PermissionName, new { title = "!權限名稱", required = "required" })</td>
            </tr>
            <tr>
                <td class="field-title">權限說明</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOP_Description, new { title = "!權限說明", style = "width:500px;" })</td>
            </tr>
            <tr>
                <td class="field-title">允許每個人</td>
                <td class="field-content">@Html.dropDownListFor(m => m.EOP_IsEveryOneAllow, ftd.data.AppCodeTypeName.CTN_APP_YN, true, new { title = "!允許每個人" })</td>
            </tr>
            <tr>
                <td class="field-title">指定物件</td>
                <td class="field-content">@Html.dropDownListFor(m => m.EOP_IsObjectNeed, ftd.data.AppCodeTypeName.CTN_APP_YN, true, new { title = "!指定物件" })</td>
            </tr>
        </table>
    }
</div>

