@model ftd.data.EO_EmployeeTitleRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {

    <script>
        $(document).ready(function () {

            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (CheckInput()) {
                    var tfm = $("#formEdit").serialize();
                    $.ajax({
                        url: '@Url.Action("Edit", "EoEmployeeTitle")',
                        type: "POST",
                        //contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: tfm,
                        success: function (response) {
                            Save(response);
                            //因為使用AJAX，故儲存成功後需自行關閉視窗
                            var result = response['Result'];
                            if (result != "ERROR") {
                                //觸發父視窗重新查詢
                                parent.DialogCloseListener.whatButtonFireEvent("save");
                                //關閉對話框
                                CloseDialog();
                            }
                        }
                    });
                }
                return false;
            };
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "EoEmployeeTitle", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode"  value="@viewMode"/>
            @Html.HiddenFor(m => m.EOET_EmployeeTitleId)
            @Html.HiddenFor(m => m.EOET_InUse_XX)
            @Html.HiddenFor(m => m.EOET_InUseName_XX)
            @Html.HiddenFor(m => m.EOET_UserCount_XX)
        </div>
        <table>
            <tr>
                <td>職稱順序</td>
                <td>@Html.TextBoxFor(m => m.EOET_ListOrder, new { title = "!職稱順序",@readonly = "readonly"})</td>
            </tr>
            <tr>
                <td>職稱代號</td>
                <td>@Html.TextBoxFor(m => m.EOET_TitleCode, new { title = "!職稱代號", @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td>職稱名稱</td>
                <td>@Html.TextBoxFor(m => m.EOET_TitleName, new { title = "!職稱名稱", required = "required" })</td>
            </tr>
        </table>
    }
</div>

