@model ftd.data.EO_EmployeeRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    //string viewMode = ViewBag.ViewMode;
    //if (viewMode.isNullOrEmpty())
    //{
    string viewMode = "update";
    //}
}

@section scripts {

    <script>

        $(document).ready(function () {
            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (!CheckInput())
                    return false;
                
                var pwd1 = $("#EOE_LoginPassword_XX").val();
                var pwd2 = $("#ConfirmPassword").val();
                //alert("Pwd1:" + pwd1 + ", Pwd2:" + pwd2);

                if (pwd1 != "" || pwd2 != "") {
                    if (pwd1 != pwd2) {
                        ShowMessage("密碼輸入錯誤");
                        return false;
                    }
                }

                var tfm = $("#formEdit").serialize();
                $.ajax({
                    url: '@Url.Action("Edit", "EoEmployee")',
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: tfm,
                    success: function (response) {
                        Save(response);
                        //因為使用AJAX，故儲存成功後需自行關閉視窗
                        var result = response['Result'];
                        if (result != "ERROR") {
                            //觸發父視窗重新查詢
                            parent.DialogCloseListener.whatButtonFireEvent("save");
                            //關閉對話框
                            CloseDialog();
                        }
                    }
                });
                
                return false;
            };

            $("#EOE_EmployeeCode").prop("disabled", true);
            $("#EOE_LoginAccount_XX").prop("disabled", true);
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "EoEmployee", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit", accept_charset="utf-8" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode"  value="@viewMode" />
            <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
            @Html.HiddenFor(m => m.EOE_EmployeeId)
            @Html.HiddenFor(m => m.EOE_DepartmentId)
            @Html.HiddenFor(m => m.EOE_EmployeeTitleId)
            @Html.HiddenFor(m => m.EOE_EmployeeCode)
            @Html.HiddenFor(m => m.EOE_Enabled)
            @Html.HiddenFor(m => m.EOE_Remark)
        </div>
        <table>
            <tr>
                <td class="field-title">使用者代號</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOE_LoginAccount_XX, new { title = "!使用者代號" })
                </td>
                <td class="field-title">使用者姓名</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.EOE_EmployeeName, new { title = "!使用者姓名", required = "required" })
                </td>
            </tr>
            <tr>
                <td class="field-title">密碼</td>
                <td class="field-content">
                    @Html.PasswordFor(m => m.EOE_LoginPassword_XX, new { title = "!密碼", style = "width:120px;" })
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" title="確認密碼" style="width:120px;"/>
                </td>
                <td class="field-title">性別</td>
                <td class="field-content">
                    @Html.dropDownListFor(m => m.EOE_Sex, ftd.data.AppCodeTypeName.CTN_Sex, true, new { title = "!性別" })
                </td>
            </tr>
            <tr>
                <td class="field-title">電話1</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOE_Phone1, new { title = "!電話1" })</td>
                <td class="field-title">電話2</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOE_Phone2, new { title = "!電話2" })</td>
            </tr>
            <tr>
                <td class="field-title">行動電話</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOE_SmsNumber, new { title = "!行動電話" })</td>
                <td class="field-title">Email</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOE_EmployeeEmail, new { title = "!Email" })</td>
            </tr>
            <tr>
                <td class="field-title">郵遞區號</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOE_CZip, new { title = "!郵遞區號" })</td>
                <td class="field-title">通訊地址</td>
                <td class="field-content">@Html.TextBoxFor(m => m.EOE_CAddress, new { title = "!通訊地址", style = "width:300px;" })</td>
            </tr>
        </table>
    }
</div>

