@*@model ftd.query.model.EoEmployeeQryModel*@

@{
    ViewBag.Title = @Html.functionName("EOM020", true);
}

@section function_name {
    @Html.functionName("EOM020")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
    @*<input type="hidden" id="EOE_EmployeeId" name="EOE_EmployeeId" value="" />*@
    <input type="hidden" id="Q_DepartmentCode_XX" name="Q_DepartmentCode_XX" value="" data-cqgroup="CQ_Department" data-cqfield="EOD_DepartmentCode" />
    <input type="hidden" id="Q_EmployeeTitleCode_XX" name="Q_EmployeeTitleCode_XX" value="" data-cqgroup="CQ_EmployeeTitle" data-cqfield="EOET_TitleCode" />

    <div class="condition-container">
        <div id="qryTitle">
            <div id="QueryMode" class="query-mode" onclick="toggleQueryPanel()">查詢條件</div>
            <div id="QueryLevel" class="query-level">
                @*<input type="radio" name="Q_QueryLevel" id="Q_QueryLevel_1" value="0" /><label for="Q_QueryLevel_1">查詢增加單</label>
                <input type="radio" name="Q_QueryLevel" id="Q_QueryLevel_2" value="1" checked="checked" /><label for="Q_QueryLevel_2">查詢基本資料</label>
                <input type="radio" name="Q_QueryLevel" id="Q_QueryLevel_3" value="2" /><label for="Q_QueryLevel_3">查詢明細資料</label>*@
            </div>
            <div id="hint" style="display:inline-block; float:right; color:red; height:24px; overflow:hidden;">

            </div>
        </div>

        <div class="clr"></div>

        <div id="qryCondition">
            <table>
                <tr>
                    <td class="field-title">使用者代號</td>
                    <td class="field-content">
                        <input type="text" id="Q_LoginAccount_XX" name="Q_LoginAccount_XX" />
                        @Html.dropDownList("Q_Enabled", ftd.data.AppCodeTypeName.CTN_APP_TF, true, new { title = "啟用" })
                    </td>
                    <td class="field-title">使用者姓名</td>
                    <td class="field-content"><input type="text" id="Q_EmployeeName" name="Q_EmployeeName" /></td>
                </tr>
                <tr>
                    <td class="field-title">部門</td>
                    <td class="field-content">
                        <input type="text" id="Q_DepartmentFullName_XX" name="Q_DepartmentFullName_XX" readonly="readonly" data-cqgroup="CQ_Department" data-cqfield="EOD_DepartmentName" />
                        @Html.codeQuery("CQ_Department", "CodeQuery", "EoDepartment", 800, 600, new { title = "部門" })
                    </td>
                    <td class="field-title">職稱</td>
                    <td class="field-content">
                        <input type="text" id="Q_EmployeeTitleName_XX" name="Q_EmployeeTitleName_XX" readonly="readonly" data-cqgroup="CQ_EmployeeTitle" data-cqfield="EOET_TitleName" />
                        @Html.codeQuery("CQ_EmployeeTitle", "CodeQuery", "EoEmployeeTitle", 800, 600, new { title = "職稱" })
                    </td>
                </tr>
            </table>
            @Html.toolBar("EOM020")
        </div>
    </div>
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">人員</a></li>
        <li><a href="#tabs-2">隸屬群組</a></li>
        <li><a href="#tabs-3">授權清單</a></li>
    </ul>
    <div id="tabs-1">
        <div id="ListGridContainer"></div>
    </div>
    <div id="tabs-2">
        <div id="ListGridContainer_Group"></div>
    </div>
    <div id="tabs-3">
        <div id="ListGridContainer_Permission"></div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/Scripts/Jtabcontrol.js"></script>
    <script>
        //收合或展開查詢條件
        function toggleQueryPanel() {
            $("#qryCondition").toggle('show');
        }

        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    break;
                case "report":
                    break;
                default:
            }
        }
        
        //***************************************************************************
        //查詢-使用者
        function doQuery() {
            $("#qryCondition").hide();
            try {
                var jsonData = {};
                jsonData = ToJsonObject();
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();

                $('#ListGridContainer').jtable('load', jsonData);
            }
            catch (e) {
                alert(e);
            }
        }

        //新增-使用者
        function doAddNew() {
            ShowDialog(600, 1000, true, "@Url.Action("EOM020Edit")", "新增", false);
        }

        //修改-使用者
        function getItemCommands(item) {
            var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("EOM020Edit")?id=' + item.record.EOE_EmployeeId + '"><span>修改</span></button>');
            OpenDialog($btn, 600, 1000, true);
            return $btn;
        }

        //***************************************************************************
        //查詢-隸屬群組
        function doQueryGroup(MemberId) {
            try {
                $('#ListGridContainer_Group').jtable('load', {
                    Q_MemberId: MemberId,
                    __RequestVerificationToken: $("input[name=\"__RequestVerificationToken\"]").val()
                });
            }
            catch (e) {
                alert(e);
            }
        }

        //新增-隸屬群組
        function doAddNewGroup() {
            ShowDialog(500, 800, true, "@Url.Action("EOM021Create", "EntOrg")?memberId=" + selRowUser.EOE_EmployeeId, "新增", false);
        }

        //修改-隸屬群組
        function getItemCommandsGroup(item) {
            var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("EOM021Edit", "EntOrg")?id=' + item.record.EODM_DeptMemberId + '"><span>修改</span></button>');
            OpenDialog($btn, 500, 800, true);
            return $btn;
        }

        //***************************************************************************
        //查詢-授權清單
        function doQueryPermission(UserId) {
            try {
                $('#ListGridContainer_Permission').jtable('load', {
                    Q_PermissionUserId: UserId,
                    __RequestVerificationToken: $("input[name=\"__RequestVerificationToken\"]").val()
                });
            }
            catch (e) {
                alert(e);
            }
        }

        //新增-隸屬群組
        function doAddNewPermission() {
            ShowDialog(500, 800, true, "@Url.Action("EOM022Create", "EntOrg")?userId=" + selRowUser.EOE_EmployeeId, "新增", false);
        }

        //修改-隸屬群組
        function getItemCommandsPermission(item) {
            var $btn = $('<button title="修改" class="jtable-command-button jtable-edit-command-button" url="@Url.Action("EOM022Edit", "EntOrg")?id=' + item.record.EOPS_PermissionSettingId + '"><span>修改</span></button>');
            OpenDialog($btn, 500, 800, true);
            return $btn;
        }

        //***************************************************************************
        var selRowUser = null;
        var selRowGroup = null;
        var selRowPermission = null;
        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'EOE_EmployeeCode ASC',
                toolbar: {
                    hoverAnimation: true,
                    hoverAnimationDuration: 60,
                    hoverAnimationEasing: undefined,
                    items: [{
                        icon: '../Scripts/jtable/themes/lightcolor/add.png',
                        text: '新增',
                        click: doAddNew
                    }]
                },
                actions: {
                    listAction: '@Url.Action("List", "EoEmployee")',
                    deleteAction: '@Url.Action("Delete", "EoEmployee")'
                },
                fields: {
                    EditColumn: {
                        title: '',
                        width: '0.1%',
                        key: false,
                        list: true,
                        create: false,
                        edit: false,
                        listClass: 'jtable-command-column',
                        display: getItemCommands,
                        sorting: false
                    },
                    EOE_EmployeeId: {
                        title: '人員ID',
                        width: '0.1%',
                        key: true,
                        list: false,
                        create: false,
                        edit: false
                    },
                    EOE_DepartmentCode_XX: {
                        title: '部門代號',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOE_DepartmentName_XX: {
                        title: '路門名稱',
                        width: '18%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOE_EmployeeCode: {
                        title: '使用者代號',
                        width: '10%',
                        key: false,
                        list: false,
                        create: true,
                        edit: true
                    },
                    EOE_LoginAccount_XX: {
                        title: '使用者代號',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOE_EmployeeStandardName_XX: {
                        title: '使用者姓名',
                        width: '15%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOE_Phone1: {
                        title: '電話1',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOE_Phone2: {
                        title: '電話2',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    }
                },
                formSubmitting: function (event, data) {
                    //data.form("__RequestVerificationToken", $("input[name=\"__RequestVerificationToken\"]").val());
                    //return true;
                    return data.form.validationEngine('validate');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            var record = $(this).data('record');
                            selRowUser = record;
                        });
                    } else {
                        selRowUser = null;
                    };
                }
            });

            $('#ListGridContainer_Group').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'EODM_DeptCode_XX ASC',
                toolbar: {
                    hoverAnimation: true,
                    hoverAnimationDuration: 60,
                    hoverAnimationEasing: undefined,
                    items: [{
                        icon: '../Scripts/jtable/themes/lightcolor/add.png',
                        text: '新增',
                        click: doAddNewGroup
                    }]
                },
                actions: {
                    listAction: '@Url.Action("List", "EoDeptMember")',
                    deleteAction: '@Url.Action("Delete", "EoDeptMember")'
                },
                fields: {
                    EditColumn: {
                        title: '',
                        width: '0.1%',
                        key: false,
                        list: true,
                        create: false,
                        edit: false,
                        listClass: 'jtable-command-column',
                        display: getItemCommandsGroup,
                        sorting: false
                    },
                    EODM_DeptMemberId: {
                        title: '群組成員ID',
                        width: '0.1%',
                        key: true,
                        list: false
                    },
                    EODM_DeptId: {
                        title: '群組ID',
                        width: '10%',
                        list: false
                    },
                    EODM_DeptCode_XX: {
                        title: '群組代號',
                        width: '10%',
                        list: true
                    },
                    EODM_DeptName_XX: {
                        title: '群組名稱',
                        width: '10%',
                        list: true
                    }
                },
                formSubmitting: function (event, data) {
                    //data.form("__RequestVerificationToken", $("input[name=\"__RequestVerificationToken\"]").val());
                    //return true;
                    return data.form.validationEngine('validate');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer_Group').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            var record = $(this).data('record');
                            selRowGroup = record;
                        });
                    } else {
                        selRowGroup = null;
                    };
                }
            });

            $('#ListGridContainer_Permission').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'EOPS_PermissionCode_XX ASC',
                toolbar: {
                    hoverAnimation: true,
                    hoverAnimationDuration: 60,
                    hoverAnimationEasing: undefined,
                    items: [{
                        icon: '../Scripts/jtable/themes/lightcolor/add.png',
                        text: '新增',
                        click: doAddNewPermission
                    }]
                },
                actions: {
                    listAction: '@Url.Action("List", "EoPermissionSetting")',
                    deleteAction: '@Url.Action("Delete", "EoPermissionSetting")'
                },
                fields: {
                    EditColumn: {
                        title: '',
                        width: '0.1%',
                        key: false,
                        list: true,
                        create: false,
                        edit: false,
                        listClass: 'jtable-command-column',
                        display: getItemCommandsPermission,
                        sorting: false
                    },
                    EOPS_PermissionSettingId: {
                        title: 'EOPS_PermissionSettingId',
                        width: '0.1%',
                        key: true,
                        list: false
                    },
                    EOPS_PermissionCode_XX: {
                        title: '權限代號',
                        width: '10%',
                        list: false
                    },
                    EOPS_PermissionName_XX: {
                        title: '權限名稱',
                        width: '10%',
                        list: true
                    },
                    EOPS_PermissionUserId: {
                        title: '授權對象(人)ID',
                        width: '10%',
                        list: false
                    },
                    EOPS_PermissionUserName_XX: {
                        title: '授權對象(人)',
                        width: '10%',
                        list: true
                    },
                    EOPS_ObjectId: {
                        title: '授權對象(物)ID',
                        width: '10%',
                        list: false
                    },
                    EOPS_ObjectName_XX: {
                        title: '授權對象(物)',
                        width: '10%',
                        list: true
                    }
                },
                formSubmitting: function (event, data) {
                    //data.form("__RequestVerificationToken", $("input[name=\"__RequestVerificationToken\"]").val());
                    //return true;
                    return data.form.validationEngine('validate');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            var record = $(this).data('record');
                            selRowPermission = record;
                        });
                    } else {
                        selRowPermission = null;
                    };
                }
            });
        }

        var tabs;
        function initTab() {
            tabs = $("#tabs").tabs();
            //預設起始頁面--default 0
            switchpage(tabs, 0);

            //設定頁面切換權限 ex '1;0,2;0' ==> tab[0] 可以開tab[1] ;tab[1] 可以開tab[0]和 tab[2];tab[2] 可以開tab[0]
            var Seq = '1,2;0,2;0,1';
            changeSeq(Seq);
            showMsg = "不允許切換到該頁籤!";
            var TabListener = initTabs(tabs);

            try {
                TabListener.whatButtonFireEvent = function (ui) {
                    switch (getSelectIndex(ui)) {
                        case 0:
                            doQuery();
                            break;
                        case 1:
                            if (!selRowUser) {
                                ShowMessage("請選擇使用者!");
                                return;
                            }
                            doQueryGroup(selRowUser.EOE_EmployeeId);
                            break;
                        case 2:
                            if (!selRowUser) {
                                ShowMessage("請選擇使用者!");
                                return;
                            }
                            doQueryPermission(selRowUser.EOE_EmployeeId);
                            break;
                        default:
                            break;
                    }
                    selRow = "";
                    return true;
                };
            }
            catch (ex) {
                alert(ex);
            }
        }

        $(document).ready(function () {
            $("#qryCondition").hide();

            //初始化 Grid
            initGrid();

            //初始化 Tabs
            initTab();

            doQuery();

            //Edit後回到列表的動作
            DialogCloseListener.whatButtonFireEvent = function (obj) {
                if (obj != "save")
                    return;

                switch (currentpageIndex) {
                    case 0:
                        FireEvent = false;
                        doQuery();
                        FireEvent = true;
                        break;
                    case 1:
                        if (!selRowUser) {
                            ShowMessage("請選擇使用者!");
                            return;
                        }
                        doQueryGroup(selRowUser.EOE_EmployeeId);
                        break;
                    case 2:
                        if (!selRowUser) {
                            ShowMessage("請選擇使用者!");
                            return;
                        }
                        doQueryPermission(selRowUser.EOE_EmployeeId);
                        break;
                    default:
                        break;
                }
            };
        });
    </script>
}

