@*@model ftd.query.model.EoUserEventLogQryModel*@

@{
    Layout = "~/Views/Shared/_LayoutCodeQuery.cshtml";
    ViewBag.Title = @Html.functionName("WTI010", true);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="condition-container">
        <table>
            <tr>
                <td class="field-title">事件日期</td>
                <td class="field-content" colspan="3">
                    <input type="date" id="Q_EventDateFrom" name="Q_EventDateFrom" />
                    ~
                    <input type="date" id="Q_EventDateTo" name="Q_EventDateTo" />
                </td>
            </tr>
            <tr>
                <td class="field-title">事件類型</td>
                <td class="field-content"><input type="text" id="Q_UserEventName_XX" name="Q_UserEventName_XX" /></td>
                <td class="field-title">人員名稱</td>
                <td class="field-content"><input type="text" id="Q_UserName_XX" name="Q_UserName_XX" /></td>
            </tr>
        </table>
        <div id="toolbar" class="toolbar">
            <input type="button" id="cmdQuery" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" value="查詢" onclick="doAction('query');" />
        </div>
    </div>
}

<div id="ListGridContainer"></div>


@section scripts {
    <script>

        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    break;
                default:
            }
        }

        //查詢
        function doQuery() {
            try {
                var jsonData = {};
                jsonData = ToJsonObject();
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();

                $('#ListGridContainer').jtable('load', jsonData);
            }
            catch (e) {
                alert(e);
            }
        }

        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'EOUEL_UserEventLogId ASC',
                actions: {
                    listAction: '@Url.Action("List", "EoUserEventLog")',
                },
                fields: {
                    EOUEL_UserEventLogId: {
                        title: '事件檔紀錄ID',
                        width: '0.1%',
                        key: true,
                        list: false,
                        create: false,
                        edit: false
                    },
                    EOUEL_EventDate: {
                        title: '日期',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true,
                        type: 'datetime',
                        displayFormat: 'yyyy/mm/dd HH:MM:ss'
                    },
                    EOUEL_UserEventName_XX: {
                        title: '事件',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOUEL_UserName_XX: {
                        title: '使用者',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOUEL_ObjectName_XX: {
                        title: '物件',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOUEL_SourceIP: {
                        title: '來源IP',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    }
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            //取得選擇的資料列
                            var record = $(this).data('record');
                            //自定回傳物件
                            var returnObj = {
                                RequestKey: '@ViewBag.RequestKey',
                                Row: record
                            };
                            //將物件轉字串
                            var jsonStr = JSON.stringify(returnObj);
                            //取得父視窗
                            var parent = window.parent;
                            //取得父視窗回傳值欄位
                            var ctl = parent.$('#CQ_Result');
                            if (ctl) {
                                //設定回傳值
                                ctl.val(jsonStr);
                                //觸發父視窗更新畫面
                                ctl.change();
                            }
                            //關閉CodeQuery視窗
                            CloseDialog();
                        });
                    };
                }
            });
        }

        $(document).ready(function () {
            //初始化 Grid
            initGrid();

            //載入資料
            doQuery();
        });


        //**********************************************
        //請在呼叫端的視窗中增加隱藏欄位以便接收回傳值，如下：
        //<input type="hidden" id="CQ_Result" name="CQ_Result" data-cqresult="default" value="" />

        //請將下列Script複製到呼叫端的視窗中，如：EOM010Edit.cshtml
        @*//CodeQuery-EO_UserEventLog
        function CQ_EoUserEventLogOpen() {
            CodeQuery(500, 800, true, "@Url.Action("CodeQuery", "EoUserEventLog")" + "?RequestKey=EoUserEventLog", "查詢");
        }

        function CQ_EoUserEventLogFinish(item) {
            // TODO: 回傳值要更新的欄位
            $('#ID').val(item.EOUEL_UserEventLogId);
            $('#Code').val(item.EO_UserEventLogCode);
            $('#Name').val(item.EO_UserEventLogName);
        }

        $("#CQ_Result").change(function () {
            //取得回傳的資料(JSON String)
            var jsonString = $("#CQ_Result").val();
            //alert(jsonString);

            //解析回傳的資料(JSON String --> JSON Object)
            var returnObj = JSON.parse(jsonString, function (key, value) {
                var type;
                if (value && typeof value === 'object') {
                    type = value.type;
                    if (typeof type === 'string' && typeof window[type] === 'function') {
                        return new (window[type])(value);
                    }
                }
                return value;
            });
            var item = returnObj.Row;
            switch (returnObj.RequestKey) {
                case 'EoUserEventLog':
                    CQ_EoUserEventLogFinish(item);
                    break;
                default:
                    break;
            }
        });*@

    </script>
}

