@model ftd.mvc.Models.LoginModel

@using CaptchaMvc.HtmlHelpers

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "登入";
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('#UserName').focus();
        });
    </script>
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)        
        
    <div id="L_container">
        <div id="L_Located">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
            <br />

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new {  autocomplete="off" })
            @Html.ValidationMessageFor(m => m.Password)
            <br />

            <label>驗證碼</label>
            @Html.Captcha(4, "_DefaultCaptchaView", null, new CaptchaMvc.Models.ParameterModel("InputElementId", "testId"))
            <br />

            <input name="登入" type="submit" value="登入" class="ButtomStyle1" />
            @*&nbsp;&nbsp;<a href="#" style="color: #000;">由自然人憑證登入</a>│<a href="#" style="color: #000;">忘記密碼</a>*@

        </div>
        @*<div id="L_Submenu"></div>*@
        <div id="L_middle">
            @*<div class="ButtomStyle2"><a href="#">承租案件查詢</a></div>
            <div class="ButtomStyle2"><a href="#">申購案件查詢</a></div>
            <div class="ButtomStyle2"><a href="#">分期繳款案件查詢</a></div>*@
        </div>
        <div class="clr"></div>
        <div id="L_Footer">© @ftd.service.FtdConfigService.Instance.getAppSettingValue("ProductName", "台灣雙葉電子股份有限公司") 2016 All Rights Reserved</div>
    </div>
}
