@model ftd.data.CR_RegistrationRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {

    <script>
        $(document).ready(function () {
            var diet = $("#CRR_DietServcie_XX").val();
            //alert(diet);
            if (diet == "A") {
                $("tr[class='diet']").show();
            }

            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (!CheckInput()) {
                    return false;
                }

                var tfm = $("#formEdit").serializeAll();
                $.ajax({
                    url: '@Url.Action("Edit", "CrRegistration")',
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: tfm,
                    success: function (response) {
                        Save(response);
                        //因為使用AJAX，故儲存成功後需自行關閉視窗
                        var result = response['Result'];
                        if (result != "ERROR") {
                            //觸發父視窗重新查詢
                            parent.DialogCloseListener.whatButtonFireEvent("save");
                            //關閉對話框
                            CloseDialog();
                        }
                    }
                });
                return false;
            };
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "CrRegistration", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode"  value="@viewMode"/>
            <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
            @Html.HiddenFor(m => m.CRR_RegistrationId)
            @Html.HiddenFor(m => m.CRR_ClassId)
            @Html.HiddenFor(m => m.CRR_CourseId_XX)
            @Html.HiddenFor(m => m.CRR_RegistrationId)
            @Html.HiddenFor(m => m.CRR_DietServcie_XX)
        </div>
        <table>
            <tr>
                <td class="field-title">課程代號</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_CourseCode_XX, new { title = "!課程代號", Readonly = "readonly" })
                </td>
                <td class="field-title">課程名稱</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_CourseName_XX, new { title = "!課程名稱", Readonly = "readonly", style = "width:400px;" })
                </td>
            </tr>
            <tr>
                <td class="field-title">班別</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_ClassCode_XX, new { title = "!班別", Readonly = "readonly" })
                </td>
                <td class="field-title">日期時間</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_ClassDate_XX, new { title = "!上課日期", Readonly = "readonly", style = "width:100px;" })
                    @Html.TextBoxFor(m => m.CRR_ClassTime_XX, new { title = "!上課時間", Readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td class="field-title">人數限制</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_LimitQty_XX, new { title = "!人數限制", Readonly = "readonly" })
                </td>
                <td class="field-title">已報名人數</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_RegisterQty_XX, new { title = "!已報名人數", Readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td class="field-title">姓名</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_Name, new { title = "!姓名", required = "required" })
                </td>
                <td class="field-title">單位名稱</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_OrganName, new { title = "!單位名稱", required = "required" })
                </td>
            </tr>
            <tr>
                <td class="field-title">身分證</td>
                <td class="field-content" colspan="3">
                    @Html.TextBoxFor(m => m.CRR_CitizenId, new { title = "!身分證" })
                    <span style="color:red;">(若需申報學習時數者請填寫!!)</span>
                </td>
            </tr>
            <tr>
                <td class="field-title">聯絡電話</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_Tel, new { title = "!聯絡電話", required = "required" })
                </td>
                <td class="field-title">Email</td>
                <td class="field-content">
                    @Html.TextBoxFor(m => m.CRR_Email, new { title = "!Email" })
                </td>
            </tr>
            <tr class="diet" style="display:none;">
                <td class="field-title">葷素</td>
                <td class="field-content" colspan="3">
                    @Html.dropDownListFor(m => m.CRR_FoodKind, ftd.data.AppCodeTypeName.CTN_FoodKind, true, new { title = "!葷素" })
                </td>
            </tr>
        </table>
    }
</div>

