@model ftd.data.AL_AssmblingLogRow

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    string viewMode = ViewBag.ViewMode;
    if (viewMode.isNullOrEmpty())
    {
        viewMode = "update";
    }
}

@section scripts {

    <script>
        $(document).ready(function () {
            var parent = window.parent;
            parent.DialogCloseListener.CloseEvent = function () {
                if (!CheckInput()) {
                    return false;
                }

                var tfm = $("#formEdit").serializeAll();
                $.ajax({
                    url: '@Url.Action("Edit", "AlAssmblingLog")',
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: tfm,
                    success: function (response) {
                        Save(response);
                        //因為使用AJAX，故儲存成功後需自行關閉視窗
                        var result = response['Result'];
                        if (result != "ERROR") {
                            //觸發父視窗重新查詢
                            parent.DialogCloseListener.whatButtonFireEvent("save");
                            //關閉對話框
                            CloseDialog();
                        }
                    }
                });
                return false;
            };
        });
    </script>
}

<div id="frm">
    @using (Ajax.BeginForm("Edit", "AlAssmblingLog", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "InitListGeneric", UpdateTargetId = "frm" }, new { id = "formEdit", name = "formEdit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            <input type="hidden" id="ViewMode" name="ViewMode"  value="@viewMode"/>
            <input type="hidden" id="CQ_Result" name="CQ_Result" value="" />
            @Html.HiddenFor(m => m.ALAL_AssmblingLogId)
            @Html.HiddenFor(m => m.ALAL_CreatorId)
            @Html.HiddenFor(m => m.ALAL_CreatorName_XX)
            @Html.HiddenFor(m => m.ALAL_CreateDate)
            @Html.HiddenFor(m => m.ALAL_UpdaterId)
            @Html.HiddenFor(m => m.ALAL_UpdaterName_XX)
            @Html.HiddenFor(m => m.ALAL_UpdateDate)
        </div>
        <table>
            <tr>
                <td class="field-title">機臺編碼</td>
                <td class="field-content">@Html.TextBoxFor(m => m.ALAL_MCID, new { title = "!機臺編碼", required = "required" })</td>
                <td class="field-title">列位置</td>
                <td class="field-content">@Html.TextBoxFor(m => m.ALAL_SEQRow, new { title = "!列位置", required = "required" })</td>
            </tr>
            <tr>
                <td class="field-title">行位置</td>
                <td class="field-content">@Html.TextBoxFor(m => m.ALAL_SEQCol, new { title = "!行位置", required = "required" })</td>
                <td class="field-title">有效日期</td>
                <td class="field-content">@Html.TextBoxFor(m => m.ALAL_EffectDate, new { title = "!有效日期", required = "required" })</td>
            </tr>
            <tr>
                <td class="field-title">失效日期</td>
                <td class="field-content">@Html.TextBoxFor(m => m.ALAL_InvalidDate, new { title = "!失效日期", required = "required" })</td>
                <td class="field-title"></td>
                <td class="field-content"></td>
            </tr>
        </table>
    }
</div>

