@if (ftd.web.AppUserSession.User != null && ftd.web.AppUserSession.User.UserFunctions != null)
{

    var xmlMenu = ftd.web.AppUserSession.User.UserMenu;

    @helper GenerateTree(IEnumerable<ftd.data.FtdXmlMenuNode> nodes, string parentID, string treeNodeId)
{
    if (nodes.Any(x => x.Parent.ID == parentID))
    {
        int j = -1;
        <ul>
            @foreach (var node in nodes)
            {
                j++;
                var treeId2 = treeNodeId + "-" + j;
                var url = node["url"] + ftd.web.AppUserSession.Instance.replaceVariables(node["parameters"]);
                <li data-itemno="@node["itemNo"]">
                    @if (node["clickmode"] == "U")
                    {
                        <a href="@url" target="@node["urltarget"]">@node["title"]</a>
                    }
                    else if (node["clickmode"] == "X")
                    {
                        <a href="#" onclick="@node["action"]">@node["title"]</a>
                    }
                    else
                    {
                        if (ftd.web.AppUserSession.Instance.CurrentFuncHier == null
                                || ftd.web.AppUserSession.Instance.CurrentFuncHier.Count < 1
                                || !ftd.web.AppUserSession.Instance.CurrentFuncHier.Contains(node.ID))
                        {
                        <input type="checkbox" id="@treeId2" />
                        }
                        else
                        {
                        <input type="checkbox" id="@treeId2" checked="checked" />
                        }

                        if (node.ChildNodes.Count < 1)
                        {
                            if (node["itemNo"] == ftd.web.AppUserSession.Instance.CurrentFunc)
                            {
                        @Html.ActionLink(string.Format("{0}-{1}", node["itemNo"], node["title"]), node["action"], node["controller"], new { itemNo = node["itemNo"], area = node["area"] }, new { style = "background-color: #C4D7ED; color: #183152;" })
                            }
                            else
                            {
                        @Html.ActionLink(string.Format("{0}-{1}", node["itemNo"], node["title"]), node["action"], node["controller"], new { itemNo = node["itemNo"], area = node["area"] }, null)
                            }
                            continue;
                        }

                        <label for="@treeId2">@node["title"]</label>
                        @GenerateTree(node.ChildNodes, node.ID, treeId2)
                    }
                </li>
            }
        </ul>
    }
    }
    
@*<a href="#" class="easyui-linkbutton" onclick="menuExpandAll()">全部展開</a>*@
@*<a href="#" class="easyui-linkbutton" onclick="menuCollapseAll()">全部收合</a>*@
@*<div style="margin: 5px 0;">
        @if (ftd.web.AppUserSession.User != null && !ftd.web.AppUserSession.User.IsGuest
            && ftd.web.AppUserSession.User.OrganId.equalIgnoreCase("397030000D")) //財政局才顯示GIS
        {
            <a href="#" onclick="OpenGIS('')">GIS地理資訊系統</a>
        }
    </div>*@
    
    <div id="TreeView" class="css-treeview">
        @if (xmlMenu != null)
        {
            int i = -1;
            <ul>
                @foreach (var node in xmlMenu.RootNode.ChildNodes)
                {
                    i++;
                    var treeId = "item-" + i.ToString();
                    var url = node["url"] + ftd.web.AppUserSession.Instance.replaceVariables(node["parameters"]);
                    <li data-itemno="@node["itemNo"]">
                        @if (node["clickmode"] == "U")
                        {
                            <a href="@url" target="@node["urltarget"]">@node["title"]</a>
                        }
                        else if (node["clickmode"] == "X")
                        {
                            <a href="#" onclick="@node["action"]">@node["title"]</a>
                        }
                        else
                        {
                            if (ftd.web.AppUserSession.Instance.CurrentFuncHier == null
                                || ftd.web.AppUserSession.Instance.CurrentFuncHier.Count < 1
                                || !ftd.web.AppUserSession.Instance.CurrentFuncHier.Contains(node.ID))
                            {
                            <input type="checkbox" id="@treeId" />
                            }
                            else
                            {
                            <input type="checkbox" id="@treeId" checked="checked" />
                            }

                            if (node.ChildNodes.Count < 1)
                            {
                                if (node["itemNo"] == ftd.web.AppUserSession.Instance.CurrentFunc)
                                {
                            @Html.ActionLink(string.Format("{0}-{1}", node["itemNo"], node["title"]), node["action"], node["controller"], new { itemNo = node["itemNo"], area = node["area"] }, new { style = "background-color: #C4D7ED; color: #183152;" })
                                }
                                else
                                {
                            @Html.ActionLink(string.Format("{0}-{1}", node["itemNo"], node["title"]), node["action"], node["controller"], new { itemNo = node["itemNo"], area = node["area"] }, null)
                                }
                                continue;
                            }

                            <label for="@treeId">@node["title"]</label>
                            @GenerateTree(node.ChildNodes, node.ID, treeId)
                        }
                    </li>
                }
            </ul>
        }
    </div>
}
