<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @ftd.service.FtdConfigService.Instance.getAppSettingValue("ProductName", "")</title>
    <link href="~/futaba_fox.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/start/css")

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("台灣雙葉電子", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial2")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                        <li>@Html.ActionLink("關於", "About", "Home")</li>
                        <li>@Html.ActionLink("連絡", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body" style="min-height: 500px;">
        <table>
            <tr>
                <td style="vertical-align: top; border: 0px; min-width: 150px; max-width: 222px">
                    <div id="menucontainer" title="功能選單">
                        @Html.Partial("_FunctionMenuPartial2")
                    </div>
                </td>
                <td style="border: 0px; vertical-align: top;">
                    @*@RenderSection("featured", required: false)*@
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </td>
            </tr>
        </table>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - 台灣雙葉電子股份有限公司</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/kfcp")
    @Scripts.Render("~/bundles/jtable")
    
    <script type="text/javascript" src="~/Scripts/Function.js?@DateTime.Now.ToString("yyyyMMddHH")"></script>
    <script src="~/Scripts/validate.js"></script>

    <script>
        $(function () {
            // Prevent the backspace key from navigating back.
            $(document).unbind('keydown').bind('keydown', function (event) {
                var doPrevent = false;
                if (event.keyCode === 8) {
                    var d = event.srcElement || event.target;
                    if ((d.tagName.toUpperCase() === 'INPUT' &&
                         (
                             d.type.toUpperCase() === 'TEXT' ||
                             d.type.toUpperCase() === 'PASSWORD' ||
                             d.type.toUpperCase() === 'FILE' ||
                             d.type.toUpperCase() === 'SEARCH' ||
                             d.type.toUpperCase() === 'EMAIL' ||
                             d.type.toUpperCase() === 'NUMBER' ||
                             d.type.toUpperCase() === 'DATE')
                         ) ||
                         d.tagName.toUpperCase() === 'TEXTAREA') {
                        doPrevent = d.readOnly || d.disabled;
                    }
                    else {
                        doPrevent = true;
                    }
                }

                if (doPrevent) {
                    event.preventDefault();
                }
            });

            var icons = {
                header: "ui-icon-circle-arrow-e",
                activeHeader: "ui-icon-circle-arrow-s"
            };
            $("#menucontainer").accordion({
                icons: icons,
                heightStyle: "content",
                active: false,
                collapsible: true
            });
            $("#menucontainer2").accordion({
                icons: icons,
                heightStyle: "content",
                collapsible: true
            });
        });

        //$.extend(true, $.jgrid.edit, {
        //    recreateForm: true,
        //    beforeShowForm: function ($form) {
        //        $form.closest(".ui-jqdialog").position({
        //            of: window, // or any other element
        //            my: "center center",
        //            at: "center center"
        //        });
        //    }
        //});
    </script>
    
    <!-- Load JavaScript for Partial View -->
    @RenderSection("partialview_scripts", required: false)

    <!-- Load JavaScript for View -->
    @RenderSection("scripts", required: false)

</body>
</html>
