@{
    var userId = "";
    if (ftd.web.AppUserSession.User != null && !ftd.web.AppUserSession.User.IsGuest)
    {
        userId = ftd.web.AppUserSession.User.UserId;
    }
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title - @ftd.service.FtdConfigService.Instance.getAppSettingValue("ProductName", "")</title>
    <link href="~/futaba_fox.png" rel="shortcut icon" type="image/x-icon" />

    @*<link href="~/Content/treeview.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/alertifyjs/themes/bootstrap.min.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css") 
    @Styles.Render("~/Content/themes/kfcp/css")

    @RenderSection("styles", false)
</head>
<body>
    <div id="loading" style="display:none;">
        <img src="~/Images/loading.gif" />
    </div>

    <!-- north 上方logo區 -->
    <div class="ui-layout-north ui-layout-pane ui-layout-pane-north">
        <a href="/Home/Index">
            <img src="~/images/logo.png" alt="Logo" width="250" height="50" style="float: left;">
        </a>

        <!--程式名稱-->
        @RenderSection("function_name", required: false)
        
        @*版本：@ViewContext.HttpContext.ApplicationInstance.GetType().BaseType.Assembly.GetName().Version.ToString()*@

        <div style="float: right;">
            <!--使用者資訊-->
            @Html.Partial("_LoginPartial")
            <!--機台資訊-->
            @Html.Partial("_MachineInfoPartial")
        </div>
    </div>

    <!-- center 顯示資料區 -->
    <div class="ui-layout-center container blue ui-layout-pane ui-layout-pane-center ui-layout-pane-hover ui-layout-pane-center-hover ui-layout-pane-open-hover ui-layout-pane-center-open-hover">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <!-- west 左邊區塊 -->
    <div class="ui-layout-west blue ui-layout-pane ui-layout-pane-west ui-layout-container">
        <!--選單-->
        @Html.Partial("_FunctionMenuPartial")
        <!--選單結束-->
    </div>

    <!-- east 右邊區塊 -->
    <div id="divGIS" class="ui-layout-east blue ui-layout-pane ui-layout-pane-east ui-layout-container">
        <div id="GIS">            
        </div>
    </div>

    <!-- south 下方註腳區 -->
    <div class="ui-layout-south ui-layout-pane ui-layout-pane-south">
        <p>&copy; @DateTime.Now.Year - @ftd.service.FtdConfigService.Instance.getAppSettingValue("ProductName", "台灣雙葉電子股份有限公司")</p>
    </div>

    <!-- jQuery Layout resizer -->
    <div class="ui-layout-resizer ui-layout-resizer-north ui-layout-resizer-open ui-layout-resizer-north-open" title="Resize">
        <div id="" class="ui-layout-toggler ui-layout-toggler-north ui-layout-toggler-open ui-layout-toggler-north-open" title="Close">
        </div>
    </div>
    <div class="ui-layout-resizer ui-layout-resizer-south ui-layout-resizer-open ui-layout-resizer-south-open" title="Resize">
        <div id="" class="ui-layout-toggler ui-layout-toggler-south ui-layout-toggler-open ui-layout-toggler-south-open" title="Close">
        </div>
    </div>
    <div class="ui-layout-resizer ui-layout-resizer-west ui-layout-resizer-open ui-layout-resizer-west-open" title="Resize">
        <div id="" class="ui-layout-toggler ui-layout-toggler-west ui-layout-toggler-open ui-layout-toggler-west-open" title="Close">
        </div>
    </div>
    <div class="ui-layout-resizer ui-layout-resizer-east ui-layout-resizer-open ui-layout-resizer-east-open" title="Resize">
        <div id="" class="ui-layout-toggler ui-layout-toggler-east ui-layout-toggler-open ui-layout-toggler-east-open" title="Close">
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/kfcp")
    @Scripts.Render("~/bundles/jtable")
    
    @Scripts.Render("~/bundles/ckeditor")

    <script type="text/javascript" src="~/Scripts/alertify.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Function.js?@DateTime.Now.ToString("yyyyMMddHH")"></script>
    <script type="text/javascript" src="~/Scripts/AppPlugins.js?@DateTime.Now.ToString("yyyyMMddHH")"></script>
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/JQueyLayoutExt.js"></script>
    
    <script type="text/javascript">
        function editUserProfile() {
            if ('@userId' != '') {
                ShowDialog(500, 900, true, '@Url.Action("EOM020EditProfile", "EntOrg", new { area = "EO" })?id=@userId', "使用者基本資料", false);
            }
        }

        function initLayout() {
            pageLayout = $('body').layout({
                name: 'outerLayout'
                , north: {
                    size: 50
                    //initClosed: true
                }
                , south: {
                    size: 50,
                    initClosed: true,
                    initHidden: true
                }
                , west: { //left menu收合區寬度比例設定
                    size: .15
                }
                , east: { //right box(show data)
                    size: .85,
                    initClosed: true,
                    initHidden: true
                }
                //, center: {
                //}
                , stateManagement: {
                    enabled: true	// NOTE: includeChildren = true  by default
                    //,includeChildren: false
                }
            });

            // manually add a layout inside the center content-div
            // the page-layout will be automatically detected and updated
            // pageLayout.center.content.layout();

            // sync checkbox with layout state options
            var state = pageLayout.options.stateManagement;
            $('#autoSaveState').attr("checked", (state.enabled && !!state.autoSave));
            $('#autoLoadState').attr("checked", (state.enabled && !!state.autoLoad));
        }

        var ShowGis = false;
        var validNavigation = false;

        $(document).ready(function () {
            $("#loading").hide();
            initLayout();

            // Prevent the backspace key from navigating back.
            $(document).unbind('keydown').bind('keydown', function (event) {
                var doPrevent = false;
                if (event.keyCode === 8) {
                    var d = event.srcElement || event.target;
                    if ((d.tagName.toUpperCase() === 'INPUT' &&
                         (
                             d.type.toUpperCase() === 'TEXT' ||
                             d.type.toUpperCase() === 'PASSWORD' ||
                             d.type.toUpperCase() === 'FILE' ||
                             d.type.toUpperCase() === 'SEARCH' ||
                             d.type.toUpperCase() === 'EMAIL' ||
                             d.type.toUpperCase() === 'NUMBER' ||
                             d.type.toUpperCase() === 'DATE')
                         ) ||
                         d.tagName.toUpperCase() === 'TEXTAREA') {
                        doPrevent = d.readOnly || d.disabled;
                    }
                    else {
                        doPrevent = true;
                    }
                }

                if (doPrevent) {
                    event.preventDefault();
                }
            });

            validNavigation = false;
            if (document.addEventListener) {
                document.addEventListener("keydown", keyDownTextField, false);
            }
            else {
                document.attachEvent("onkeydown", keyDownTextField);
            }

            //history.back
            //$(window).bind('statechange', function () {
            //    validNavigation = true;
            //})
            window.onreadystatechange = function (e) {
                validNavigation = true;
            }

            // Attach the event submit for all forms in the page
            $("form").on("submit", function () {
                validNavigation = true;
            });

            // Attach the event click for all inputs in the page
            $("input[type=submit]").bind("click", function () {
                validNavigation = true;
            });

            window.onbeforeunload = function (e) {
                if (!validNavigation) { // a or submit or Button click 不管
                    $.ajax({
                        url: '@Url.Action("RecordUser", "Home")',
                        type: "POST",
                        dataType: "json"
                        // data:{ name: request.term },
                    });
                }
                //validNavigation = false;
            };

            //menuCollapseAll();

            //處理畫面元素
            PrepareUI();

            //註冊事件
            registerEvents();

            //編輯個人檔案
            var userInfo = $("#userInfo");
            if (userInfo) {
                userInfo.on('click', function () {
                    editUserProfile();
                });
            }
        });

        function validNavigation() {
            validNavigation = true;
        }

        function keyDownTextField(e) { //ALT+F4
            var keyCode = e.keyCode;
            if ((e.altKey) && (e.keyCode == 115)) {
                validNavigation = true;
            }

            if (keyCode == 116) {
                validNavigation = true;
            }
            //alert("[window.event.keyCode]" + window.event.keyCode);
            //alert("[window.event.altKey]" + window.event.altKey);
        }

        //$(window).scroll(function () {
        //    var tables = $('.jtable-main-container');
        //    for (var i = tables.length - 1; i >= 0; i--) {
        //        var _table = $(tables[i]);
        //        if (_table.find(".temphead").length > 1) {
        //            while (_table.find(".temphead").length !== 0) {
        //                _table.find(".temphead").remove();
        //            }

        //            _table.find("thead").css({
        //                "position": "static",
        //                "visibility": "visible"
        //            });
        //        }

        //        if ($(window).scrollTop() > _table.find(".jtable-title-text").height() + _table.find(".jtable-title-text").offset().top
        //            && $(window).scrollTop() < _table.offset().top + _table.height() && $(".temphead").length === 0) {
        //            var temp = _table.find("thead");
        //            var tempclone = temp.clone().addClass("temphead");

        //            tempclone.css({ "visibility": "hidden" });
        //            temp.css({
        //                "position": "fixed",
        //                "top": $("#sitemap").height(),
        //                "width": $("table").width()
        //            });

        //            tempclone.insertBefore(temp);

        //            var thsp = $(tempclone.children()[0]).find("th");
        //            var thss = $(temp.children()[0]).find("th");
        //            for (var i = thsp.length - 1; i >= 0; i--) {
        //                $(thss[i]).css({
        //                    "width": $(thsp[i]).css("width")
        //                });
        //            };
        //        } else if ($(window).scrollTop() < _table.find(".jtable-title-text").height() + _table.find(".jtable-title-text").offset().top
        //            || $(window).scrollTop() > _table.offset().top + _table.height()) {
        //            while (_table.find(".temphead").length !== 0) { _table.find(".temphead").remove() }
        //            _table.find("thead").css({
        //                "position": "static",
        //                "visibility": "visible"
        //            });
        //        }
        //    };
        //});

    </script>
    
    <!-- Load JavaScript for Partial View -->
    @RenderSection("partialview_scripts", required: false)
    
    <!-- Load JavaScript for View -->
    @RenderSection("scripts", required: false)
</body>
</html>
